<footer>
    <section>
        <div class = "conteiner-suscriptor-first-block">
            <label class = 'sub-conteiner-first'>
                <div class = "suscriptor">Suscríbete y obten un cupón de descuento</div>
                <input class = "email" type = "email" placeholder = "Ingresá tu email" name = 'email'>
            </label>
        </div>
    </section>
    <section class = "conteiner-list-second-block">
        <div class = "sub-conteiner-second-block">
            <div class = "conteiner-first-list">
                <ul class = "first-list">
                    <div class = "category">Categorías</div>
                    <li><a class = "sub-category" href="/">Inicio</a></li>
                    <li><a class = "sub-category" href="products/list">Productos</a></li>
                    <li><a class = "sub-category" href="#">Hombres</a></li>
                    <li><a class = "sub-category" href="#">Mujeres</a></li>
                    <li><a class = "sub-category" href="#">Venta Mayorista</a></li>
                </ul>
            </div>
            <div class = "conteiner-second-list">
                <ul class = "second-list">
                    <div class="contact">Contacto</div>
                    <li><a class = "sub-contact" href="#"><i class="fab fa-whatsapp"></i> 541176856412</a></li>
                    <li><a class = "sub-contact" href="#"><i class="fas fa-phone"></i> 11-7685-6412</a></li>
                    <li><a class = "sub-contact" href="#"><i class="far fa-envelope"></i> sharkstyle@gmail.com</a></li>
                    <li><a class = "sub-contact" href="#"><i class="fas fa-map-marker-alt"></i> Lastra 6587</a></li>
                </ul>
            </div>
        </div>
        <div class = "conteiner-social-media">
            <div class = "social-media">
                <div><a href="http://www.facebook.com/"><i id = "facebook" class="fab fa-facebook"></i></a></div>
                <div><a href="https://www.instagram.com/"><i id = "instagram" class="fab fa-instagram"></i></a></div>
                <div><a href="https://twitter.com/"><i id = "twitter" class="fab fa-twitter"></i></a></div>
            </div>
        </div>
    </section>
    <section>
        <div class = "copyright">
            Copyright © 2021 SharkStyle.com Todos los derechos reservados.
        </div>
    </section>
</footer>
