<head>
    <%- include('./head') -%> 

    <link rel="stylesheet" href="/css/header.css">
</head>

<body>
    <header class="main-header">
        <article class="article-main-header">
            <div class="div-1-conteiner">
                <div class="conteiner-logo">
                    <img width="40%" src="/img/logo-shark.png" alt="logo Shark Style" class="logotipo-shark">
                </div>
                <div class="conteiner-shark">
                    <span class="icon"><i class="fa fa-search"></i></span>
                    <input type="search" id="search" placeholder="¿Que estás buscando?" class="search-main" />
                </div>
            </div>
            <div class="div-2-conteiner">
                <div class="inside-the-first-article-header">
<<<<<<< HEAD
                    <a href="users/login"><i class="fas fa-user"></i></a>
=======
                    <a href="/users/login"><i class="fas fa-user"></i></a>
>>>>>>> 00daba3f0132fe8a3dbeb41a92b895be024da272
                </div>
                <div class="inside-the-first-article-header">
                    <a href="/shopping"><i class="fas fa-cart-plus"></i></a>
                </div>
            </div>
            <section class="icons2">
                <div class="menu-hamburger">
                    <a href=""><i class="fas fa-bars"></i></a>
                </div>
                <div class="three-icons">
                    <a href=""><i class="fa fa-search"></i></a>
                </div>
                <div class="three-icons">
                    <a href="/users/login"><i class="fas fa-user"></i></a>
                </div>
                <div class="three-icons">
                    <a href= "/shopping"><i class="fas fa-cart-plus"></i></a>
                </div>  
            </section>
        </article>
        <article>
            <div>
                <nav class="navbar">
                    <ul>
                        <li><a href="/" style="text-decoration: none;" class="option-navbar">Inicio</a></li>
                        <li><a href="/products/list" style="text-decoration: none;" class="option-navbar">Productos</a></li>
                        <li><a href="" style="text-decoration: none;" class="option-navbar">Hombres</a></li>
                        <li><a href="" style="text-decoration: none;" class="option-navbar">Mujeres</a></li>
                        <li><a href="" style="text-decoration: none;" class="option-navbar">Venta Mayorista</a></li>
                    </ul>
                </nav>
            </div>
        </article>
    </header>