<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
        <!-- <link rel="stylesheet" href="/css/shopping.css"> -->
        <title>¡Congratulations!</title>
</head>

<body>
    <div>
        <%- include('../partials/header') %>
    </div>

    <main>
        <div>
            Felicidades por realizar tu primera compra!
            SharkStyle
        </div>
    </main>

    <div>
        <%- include('../partials/footer') %>
    </div>
</body>

</html>