<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
        <link rel="stylesheet" href="/css/shopping.css">
        <title>Carrito Compras</title>
</head>

<body>
    <div>
        <%- include('../partials/header') %>
    </div>

    <main>
        <section class="section-one">
            <div>
                Mi Carrito > 4 items
            </div>
            <div class="return-button">
                <a href="/">Seguir buscando</a>
            </div>
        </section>

        <div class="line"></div>

        <div class="conteiner">
            <section class="section-two">
                    <article>
                        <div class="conteiner-image">
                            <img class="image" src="/img/productImage/t-shirt.orange.jpg" alt="Imagen del producto del carrito">
                        </div>
                        <div class="conteiner-data">
                            <form action="/shopping/edit/:id?_method=PUT" method="POST">
                                <div class="title">Titulo</div>
                                <div class="size">Talle</div>
                                <div class="color">Color</div>
                                <div class="units">
                                    <div class="amount">Cantidad</div>
                                    <p>$Precio</p>    
                                </div>
                                <button id="edit" type="submit">Actualizar</button>
                            </form>
                        </div>
                        <div class="conteiner-button">
                            <!-- Edit data of product_shop -->
                            <div class="sub-conteiner">
                                <div id="button-edit"><i class="fas fa-edit"></i></div>
                                <form action="/shopping/delete/:id?_method=DELETE" method="POST">
                                    <button id="button-delete" type="submit"><i class="fas fa-trash-alt"></i></button>
                                </form>    
                            </div>
                            <div>
                                <a class="button-detail" href="/products/detail/1">Ver detalle</a>
                            </div>
                        </div>
                    </article>
            </section>            
            <section class="section-three">
                <form action="/shopping" method="POST">
                    <div class="title-summary">
                        <h2>Resumen del pedido</h2>
                    </div>
                    <div class="total">
                        <p>
                            Total $1000
                        </p>
                    </div>
                    <div class="style-button">
                        <a href="/shopping">
                            <button id="buy" type="submit">Comprar</button>
                        </a>
                    </div>
                </form>
            </section>
        </div>
    </main>

    <div>
        <%- include('../partials/footer') %>
    </div>
</body>

</html>