<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
        <link rel="stylesheet" href="/css/carrousel.css">
        <title>Subcategory Carousel</title>
</head>

<body>
    <div>
        <%- include('./partials/header') %>
    </div>
    <div>
        <%- include('./partials/footer') %>
    </div>
</body>

</html