<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %> 
    <link rel="stylesheet" href="/css/error.css">
    <title>Error 404</title>
</head>
<body>
    <main>
        <div class="div-conteiner-1">
            <h1>Page not found</h1>
            <a href="/"><input type="button" value="Regresar" class="button"></a>
        </div>
    </main>
</body>
</html>