<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/homehome.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <title>shark style</title>
</head>

<body>
    <header class="main-header">
        <article class="article-main-header">
            <div class="conteiner-logo">
                <img width="40%" src="/img/logo-shark.png" alt="logo Shark Style" class="logotipo-shark">
            </div>
            <div class="conteiner-shark">
                <span class="icon"><i class="fa fa-search"></i></span>
                <input type="search" id="search" placeholder="¿Que estás buscando?" class="search-main" />
            </div>
            <section class="icons2">
                <div class="menu-hamburger">
                    <i class="fas fa-bars"></i>
                </div>
                <span class="three-icons">
                    <i class="fa fa-search"></i>
                </span>
                <div class="three-icons">
                    <i class="fas fa-user-plus"></i>
                </div>
                <div class="three-icons">
                    <i class="fas fa-cart-plus"></i>
                </div>
            </section>
        </article>
        <article>
            <div>
                <nav class="navbar">
                    <ul>
                        <input type="checkbox" name="" id="btn-modal">
                        <li><a href="" style="text-decoration: none;">Inicio</a></li>
                        <li><a href="" style="text-decoration: none;">Productos</a></li>
                        <li><a href="" style="text-decoration: none;">Hombres</a></li>
                        <li><a href="" style="text-decoration: none;">Mujeres</a></li>
                        <li><a href="" style="text-decoration: none;">Venta Mayorista</a></li>
                    </ul>
                </nav>
            </div>
        </article>
    </header>
    <main>
        <section>
            <div class="container">

                <ul class="slider">
                    <li id="slide1">
                        <div class="articulos">
                            <img width="100%" height="250px" src="/img/Deportes.jpg" alt="chamarra black y grey">
                            <div class="descriptions">Campera Nike Essential</div>
                            <div class="price">$1000</div>
                            <div class="discount">-10%</div>
                        </div>
                    </li>
                    <li id="slide2">
                        <div class="articulos">
                            <img width="300px" height="250px" src="/img/chamarra2.jpg" alt="chamarra deportiva">
                            <div class="descriptions">Campera Nike Sportswear</div>
                            <div class="price">$1000</div>
                            <div class="discount">-10%</div>
                        </div>
                    </li>
                    <li id="slide3">
                        <div class="articulos">
                            <img width="300px" height="300px" src="/img/Ellesse-Pantalones-deportivo.jpg"
                                alt="pantalon ellesse">
                            <div class="descriptions">chamarra deportiva2</div>
                            <div class="price">$1000</div>
                            <div class="discount">-10%</div>
                        </div>
                    </li>
                    <li id="slide4">
                        <div class="articulos">
                            <img width="300px" height="300px" src="/img/ropa-girl.jpg" alt="buzo color blacky grey">
                            <div class="descriptions">Buzo Flash Combinado</div>
                            <div class="price">$1200</div>
                            <div class="discount">-10%</div>
                        </div>
                    </li>
                </ul>

                <ul class="menu">
                    <li>
                        <a href="#slide1">1</a>
                    </li>
                    <li>
                        <a href="#slide2">2</a>
                    </li>
                    <li>
                        <a href="#slide3">3</a>
                    </li>
                    <li>
                        <a href="#slide4">4</a>
                    </li>
                </ul>

            </div>
            <div class="container">

                <ul class="slider">
                    <li id="slider1">
                        <div class="articulos">
                            <img width="300px" height="300px" src="/img/chamarra-hombre.jpg" alt="Buzo shark style">
                            <div class="descriptions">Buzo Flash Combinado</div>
                            <div class="price">$1800</div>
                            <div class="discount">-10%</div>
                        </div>
                    </li>
                    <li id="slider2">
                        <div class="articulos">
                            <img width="300px" height="300px" src="/img/Chamarra.jpg" alt="campera deportiva al cuerpo">
                            <div class="descriptions">Campera Neopreno Essential</div>
                            <div class="price">%2000</div>
                            <div class="discount">-10%</div>
                        </div>
                    </li>
                    <li id="slider3">
                        <div class="articulos">
                            <img width="300px" height="300px" src="/img/pantalon.jpg" alt="jogging pants">
                            <div class="descriptions">Pantalon clasic Verde</div>
                            <div class="price">$2500</div>
                            <div class="discount">-10%</div>
                        </div>
                    </li>
                    <li id="slider4">
                        <div class="articulos">
                            <img width="300px" height="300px" src="/img/Startsida.jpg"
                                alt="campera deportiva para mujer">
                            <div class="descriptions">Campera Flash Softshell</div>
                            <div class="price">$1000</div>
                            <div class="discount">-10%</div>
                        </div>
                    </li>
                </ul>

                <ul class="menu">
                    <li>
                        <a href="#slider1">1</a>
                    </li>
                    <li>
                        <a href="#slider2">2</a>
                    </li>
                    <li>
                        <a href="#slider3">3</a>
                    </li>
                    <li>
                        <a href="#slider4">4</a>
                    </li>
                </ul>

            </div>
        </section>

        <section class="image-session-one">
            <article>
                <div>
                    <img width="300px" height="300px" src="/img/Deportes.jpg" alt="chamarra black y grey">
                </div>
            </article>
            <article>
                <div>
                    <img width="300px" height="300px" src="/img/chamarra2.jpg" alt="chamarra deportiva">
                </div>
            </article>
            <article>
                <div>
                    <img width="300px" height="300px" src="/img/Ellesse-Pantalones-deportivo.jpg"
                        alt="pantalon ellesse">
                </div>
            </article>
            <article>
                <div>
                    <img width="300px" height="300px" src="/img/ropa-girl.jpg" alt="buzo color blacky grey">
                </div>
            </article>

        </section>
        <section class="image-session-two">

            <article>
                <div>
                    <img width="300px" height="300px" src="/img/chamarra-hombre.jpg" alt="Buzo shark style">
                </div>
            </article>
            <article>
                <div>
                    <img width="300px" height="300px" src="/img/Chamarra.jpg" alt="campera deportiva al cuerpo">
                </div>
            </article>
            <article>
                <div>
                    <img width="300px" height="300px" src="/img/pantalon.jpg" alt="jogging pants">
                </div>
            </article>
            <article>
                <div>
                    <img width="300px" height="300px" src="/img/Startsida.jpg" alt="campera deportiva para mujer">
                </div>
            </article>
        </section>
        <section class="image-session-three">
            <article>
                <div>
                    <img width="300px" height="300px" src="/img/ropaa1.jpg" alt="campera nike color verde agua">
                </div>
                <div>
                    <h3>Campera nike</h3>

                </div>
            </article>
            <article>
                <div>
                    <img width="300px" height="300px" src="/img/style-shark.png" alt="logo shark style">
                </div>
            </article>
            <article>
                <div>
                    <img width="300px" height="300px" src="/img/ropaa2.jpg" alt="campera deportiva blanca y negra">
                </div>
            </article>
        </section>
        <section class="image-session-four">
            <article class="two-article">
                <div>
                    <label class="one-button">Envios
                        <button name="bonton-envio" class="button-one">Enviar</button>
                    </label>
                </div>
                <div class="logo-container">
                    <img src="/img/style-shark.png" alt="logo shark style" class="logo-section-four">
                    <h4>¡¡Comprando $5000 o más, el envio es completamente gratis!!</h4>
                </div>
            </article>
            <article>
                <div>
                    <img src="/img/gif-de-imagenes.gif" alt="this slowpoke moves" class="one-gif" />
                </div>
            </article>
            <article>
                <div>
                    <label class="one-button">Cuotas sin intereses
                        <button name="bonton-envio" class="button-one">Enviar</button>
                    </label>
                </div>
            </article>
        </section>
    </main>
    <footer class="footer-botton">
        <section class="footer-section-botton">
            <div>
                <img src="/img/style-shark.png" alt="logo shark style" class="logo-shark-botton">
            </div>
            <p>¿Quieres recibir nuestras ofertas? ¡Registrate ya mismo y comienzá a disfrutarlas!</p>
            <nav>
                <h4>Categorías</h4>
                <ul>
                    <li><a href="" style="text-decoration: none;">Inicio</a></li>
                    <li><a href="" style="text-decoration: none;">Productos</a></li>
                    <li><a href="" style="text-decoration: none;">Hombres</a></li>
                    <li><a href="" style="text-decoration: none;">Mujeres</a></li>
                    <li><a href="" style="text-decoration: none;">Venta Mayorista</a></li>
                </ul>
                <br>
            
                <ul>
                    <h4>Contactános</h4>
                    <li><a href="" style="text-decoration: none;"><i class="fab fa-whatsapp"></i>  541176856412</a></li>
                    <li><a href="" style="text-decoration: none;"><i class="fas fa-phone"></i>  11-7685-6412</a></li>
                    <li><a href="" style="text-decoration: none;"><i class="far fa-envelope"></i>  sharkstyle024@gmail.com</a></li>
                </ul>
            </nav>
            <div>
                <label>
                    <h5>ingresa tu email</h5>
                    <input type="email" placeholder="introduce tu email">
                </label>
                <nav>
                    <ul class="social-media">
                        <li class="facebook"><a href="http://www.facebook.com/"><i class="fab fa-facebook"></i></a></li>
                        <li class="instagram"><a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a></li>
                        <li class="twitter"><a href="https://twitter.com/"><i class="fab fa-twitter"></i></a></li>
                    </ul>
                </nav>
            </div>
        </section>
    </footer>
</body>

</html>