<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <title>Shark Style</title>
</head>

<body>
    <header class="main-header">
        <article class="article-header">
            <div class="conteiner-shark">
                <div class="conteiner-logo">
                    <img src="/img/logo-shark.png" alt="logo Shark Style" class="logotipo-shark">
                </div>
                <span class="icon"><i class="fa fa-search"></i></span>
                <input type="search" id="search" placeholder="¿Que estás buscando?" class="campo"/>
            </div>
            <section class="icons2">
                <div class="iconos">
                    <i class="fas fa-user-plus"></i>
                </div>
                <div class="iconos">
                    <i class="fas fa-cart-plus"></i>
                </div>
            </section>
        </article>
        <article>
            <div>
                <nav class="menu">
                    <ul>
                        <input type="checkbox" name="" id="btn-modal">
                        <li>Inicio</li>
                        <li>Productos</li>
                        <li>Hombres</li>
                        <li>Mujeres</li>
                        <li>Venta Mayorista</li>
                    </ul>    
                </nav>
            </div>
        </article>
    </header>
    <main>

    </main>
    <footer></footer>
</body>

</html>