<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/producDetail.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <title>Detalle del Producto</title>
</head>

<body>
    <header>
        <div class = "header"></div>
    </header>
    <main>
        <section class = "picture">
                <!--aca voy a poner las fotos del producto a la izquierda-->
                <div class = "p1">
                    <img src="/img/img-productDetail/p1.jpg" alt=""/>
                </div>
                <div class = "p2">
                    <img src="/img/img-productDetail/p2.jpg" alt=""/>
                </div>
                <div class = "p3">
                    <img src="/img/img-productDetail/p3.jpg" alt=""/>
                </div>
                <div class = "p4">
                    <img src="/img/img-productDetail/p4.jpg" alt=""/>
                </div>
        </section>

        <section>
            <article class = "container">
                <div class = "principalPicture">
                    <!--aca va la foto principal-->
                    <img src="/img/producDetail/t-shirt.orange.jpg" alt=""/>
                </div>
            </article>
        </section>

        <section class = "detail">
            <article>
                <div class = "name">
                    <!--nombre del producto-->
                    Camisetas con capucha
                </div>
                <div class = "lastName">
                manga corta con cordón de color sólido básico para hombre
                </div>
                <div class = "price">
                    <!--precio-->
                    AR$1.558,08
                </div>
            </article>

            <article>
                <div class = "color">
                    <!--colores y modelos disponibles-->
                    Modelos disponibles
                </div>
                <div class = "model">
                    <!--una pequeña imagen de el modelo de color (voy a probar con forma circular)-->
                    <div class = "m1">
                        <img src="/img/img-productDetail/t-shirt.orange.jpg" alt=""/>
                    </div>
                    <div class = "m2">
                        <img src="/img/img-productDetail/t-shirt.skyblue.jpg" alt=""/>
                    </div>
                    <div class = "m3">
                        <img src="/img/img-productDetail/t-shirt.white.jpg" alt=""/>
                    </div>
                    <div class = "m4">
                        <img src="/img/img-productDetail/t-shirt.black.jpg" alt=""/>
                    </div>
                </div>
            </article>

            <article>
                <div class = "talles">
                    <!--talles-->
                    Talles
                </div>
                <div class = "size">
                    <div class = "xs">XS</div>
                    <div class = "s">S</div>
                    <div class = "m">M</div>
                    <div class = "l">L</div>
                    <div class = "xl">XL</div>
                </div>
            </article>

            <article>
                <div class = "buy">
                    <!--boton de comprar te lleva al carrito de compras y agrega el producto-->
                    Comprar
                </div>
            </article>

            <article class = "action">
                <div>
                    <!--imagen del carrito-->
                    <i class="fas fa-cart-plus"></i>
                </div>
                <div class = "save">
                    <!--agregar al carrito-->
                    Agregar al carrito
                </div>
                <div><!--flecha--></div>
                <div class = "follow">
                    <!--compartir-->
                    Compartir
                </div>
            </article>
        </section>
        <img src="/img/producDetail/t-shirt.orange.jpg" alt=""/>

    </main>
</body>
</html>