* {
    box-sizing: border-box;
}

main {
    margin-top: 50px;
    font-family: 'Roboto Condensed', sans-serif;
}

main .title {
    text-align: center;
    font-size: 20px;
    font-family: MD Primer Bold,Rubik,Lato;
}

main div .link {
    color: blue;
}

main section {
    border: solid 2px #1F3F4E;
    box-shadow: 0px 0px 10px gray;
    margin: auto;
    border-radius: 10px;
    width: 85%;
    margin-bottom: 50px;
}

.bar-conteiner {
    height: 40px;
    border-bottom: solid 2px black;
}

main section article nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

main section article nav ul li {
    font-size: 20px;
    font-weight: 400;
    color: black;
}

main section article div {
    border-bottom: solid 1px grey;
}

.administrator-options {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
}

main section article div ul .id {
    color: black;
}

main section article div ul .text {
    width: 20%;
    margin-left: 0%;
    color: black;
}

main section article div ul .edit {
    position: relative;
    left: -8%;
}

main section article div ul .edit a i {
    color: gray;
    font-size: 20px;
    transition: color 350ms;
}

main section article div ul .edit a i:hover {
    color: black;
}

main section article div ul .delete {
    position: relative;
    left: -3%;
}

main section article div ul #button-delete {
    color: gray;
    font-size: 20px;
    background-color: white;
    border: none;
    transition: color 350ms;
}

main section article div ul #button-delete:hover {
    color: black;
}

@media (min-width: 767px) {
    main {
        margin-top: 120px;
    }
}