/*de aqui para abajo se encuentra el estilo del footer*/

footer {
    background-color: rgb(243, 244, 237);
    font-family: 'Roboto Condensed', sans-serif;
}

footer section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

footer section .conteiner-suscriptor-first-block {
    background-color: rgb(66, 70, 66);
    text-align: left;
    padding: 30px;
}

footer section .sub-conteiner-first {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

footer section .suscriptor {
    color: rgb(243, 244, 237);
    font-size: 21px;
    margin-right: 20px;
}

footer section .email {
    background-color: rgb(243, 244, 237);
    color:rgb(66, 70, 66);
    font-size: 18px;
    font-style: italic;
    width: 190px;
    height: 4vh;
    border-radius: 10px;
    text-align: center;
}

footer .conteiner-list-second-block {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 15px;
}

footer section .sub-conteiner-second-block {
    display: flex;
    flex-direction: row;
}

footer section .conteiner-first-list {
    display: flex;
}

footer section div .first-list {
    color: rgb(66, 70, 66);
    width: 100%;
    padding-right: 5px;
}

footer section div div ul .category {
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 5px;
}

footer section div ul li .sub-category {
    text-decoration: none;
    color:rgb(66, 70, 66);
    font-size: 16px;
    border-bottom: 2px solid transparent;
    transition: 300ms;
    line-height: 22px;
}
footer section div ul li .sub-category:hover {
    border-color: rgb(66, 70, 66);
}

footer section .conteiner-second-list {
    display: flex;
}

footer section div .second-list {
    color: rgb(66, 70, 66);
    width: 100%;
} 

footer section div div ul .contact {
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 5px;
}

footer section div ul li .sub-contact {
    text-decoration: none;
    color:rgb(66, 70, 66);
    font-size: 16px;
    border-bottom: 2px solid transparent;
    transition: 300ms;
    line-height: 22px;
}
footer section div ul li .sub-contact:hover {
    border-color: rgb(66, 70, 66);
}

footer section .conteiner-social-media {
    display: flex;
    align-items: center;
    justify-content: right;
}

footer section div .social-media {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

footer section #facebook, #instagram, #twitter {
    color:rgb(66, 70, 66);
    font-size: 70px;
    transition: 300ms;
    padding-right: 15px;
}

footer #facebook:hover {
    color: #3b5998;
}
footer #instagram:hover {
    color: #a0047e;
}
footer #twitter:hover {
    color: #00acee;
}

footer section .copyright {
    color: rgb(83, 97, 98);
    font-size: 12px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

@media (max-width: 650px) {
    footer section .sub-conteiner-first {
    flex-direction: column;
    justify-content: center;
    }
    footer section .suscriptor {
        padding-bottom: 10px;
    }
    footer .conteiner-list-second-block {
        flex-direction: column;
    }
    footer section .sub-conteiner-second-block {
        justify-content: center;
    }
    footer section .social-media {
        justify-content: center;
    }
}

@media (min-width: 1000px) {
    footer section .conteiner-first-list {
        padding-right: 150px;
    }
    footer section #facebook, #instagram, #twitter {
        padding-right: 40px;
    }
}
