* {
    box-sizing: border-box;
}
.header {
    position: fixed;
    z-index: 3;
    width: 100%;
    top: 0px;
}
.main-container {
    width           : 100%;
    display         : flex;
    justify-content : space-around;
    align-items     : center;
    height          : 55px;
    border          : solid 1px green;
    background-color: rgb(63, 136, 85);
    position: inherit;
    z-index: 2;
}
.a {
    color: black;
}
.articleOne {
    width          : 33%;
    display        : flex;
    align-items    : center;
}
.fa-search {
    padding: 2px;
}
.form-searh {
    text-align-last: center;
}
.logo-text {
    height         : 100%;
    text-align     : center;
    text-align-last: end;
    padding-right: 15px;
}
.right_bar {
    padding: 0px 10px;
    
}
li,
a {
    list-style     : none;
    text-decoration: none;
    color          : whitesmoke;
}
.twoArticle {
    width          : 30%;
    height         : 100%;
    display        : flex;
    align-content  : center;
    align-items    : center;
}
#img {
    height       : 40px;
    border-radius: 15px;
    background   : whitesmoke;
}
.img {
    width        : 30px;
    border-radius: 100%;
    margin-right : 4px;
}
.div-container002 {
    display    : flex;
    align-items: center;
    padding    : 0px 5px;
    height     : 100%;
}
.dropdown {
    margin       : 0px;
    padding      : 8px 0px 0px 12px;
    position     : absolute;
    top          : 49px;
    height       : 60px;
    width        : 92px;
    background   : whitesmoke
}
.search {
    display: inline-flex;
}
.Shark {
    object-fit: cover;
}
/* NAVBAR */
.container-navbar {
    height          : 55px;
    width           : 100%;
    background-color: black;
    display         : flex;
    justify-content : center;
    align-items     : center;
    position: inherit;
    top: 0px;
    transition: all 0.8s;
}
.deployable {
   top: 50px;
    transition: all 0.8s;
}
.return {
    top: 0px;
}
.options-navbar {
    padding: 0px 10px;
}
.navbar ul {
    display        : flex;
    justify-content: space-evenly;
    list-style     : none;
}
.search-main {
    height       : 21px;
    border       : solid 1px black;
    border-radius: 4px;
}