* {
    box-sizing: border-box;
}

.conteiner-logo {
    width: 250px;
    height: 200px;
}

.logotipo-shark {
    width: 100%;
    height: 100%;
}



.article-header {
    width: 1200px;
    border: solid 2px red;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.icons2 {
    display: flex;
    flex-direction: row;  
}