* {
    box-sizing: border-box;
}

body {
    margin     : 0px;
    padding    : 0px;
    font-family: 'Roboto', sans-serif;
}

.imgOfBannerLink {
    width : 100%;
    margin: 0px
}

.contentsImgTop {
    width : 100%;
    margin: 45px auto 0px auto;
}

.titleOfProduct {
    text-align : center;
    font-weight: lighter;
    background : #51c4d3
}

.productSubContainer {
    display       : flex;
    flex-direction: row;
    flex-wrap     : wrap;
}

.elementsOfProducts {
    box-shadow: 0px 0px 2px black;
    width     : 40%;
    padding   : 4px;
    margin    : 10px auto;
    transition: all 0.5s;
}

.elementsOfProducts:hover {
    box-shadow: 0px 0px 5px black;
}

.imageAndLinkOfProduct {
    text-align: center;
}

.priceAndNameComponents {
    text-align: start;
    padding   : 0px 0px 0px 10px;
    margin    : 0px;
}

.priceAndName {
    margin: 5px 0px 0px 0px;
}
@media (max-width: 486px ) {
    .contentsImgTop {
        margin: 55px auto 0px auto;
    }

    .informationContainerForAllProducts {
        margin: auto;
    }

    .productSubContainer {
        display       : flex;
        flex-direction: row;
        flex-wrap     : wrap;
        width         : 85%;
        margin        : auto;
    }

    .elementsOfProducts {
        width  : 30%;
        padding: 10px;
        margin : 5px auto;
    }

    /* start carrousel  */

    a {
        text-decoration: none;
        margin         : 0;
        padding        : 0;
    }

    .Carousel {
        width : 100%;
    }

    .Carousel h2 {
        font-size     : 26px;
        line-height   : 38px;
        padding-bottom: 24px;
        opacity       : .9;
        text-transform: uppercase;
        letter-spacing: 10px;
        text-align    : center;
    }

    /* images */

    .slick-list {
        position   : relative;
        display    : flex;
        align-items: center;
        width      : fit-content;
        height     : 304px;
        padding    : 10px 0px;
        max-width  : 90vw;
        overflow   : hidden;
    }

    .slick-track {
        position       : relative;
        top            : 0;
        left           : 0;
        display        : flex;
        justify-content: center;
        transition     : .5s ease-in-out;
    }

    .slick {
        position      : relative;
        width         : 200px;
        padding       : 0px 18px;
        float         : left;
        box-sizing    : border-box;
        display       : flex;
        /* height     : 100%; */
        flex-direction: column;
        align-items   : center;
    }

    .slick h4 {
        position   : absolute;
        z-index    : 1;
        font-size  : 22px;
        line-height: 23px;
        color      : #fff;
        padding    : 15px;
    }

    .slick h4 small {
        font-size: 15px;
        display  : block;
    }

    .slick a img {
        object-fit   : cover;
        width        : 180px;
        border-radius: 4px;
        /* 
        box-shadow   : 0 2px 5px 0 rgba(0, 0, 0, .5); */
        transition   : .3s ease-in-out;
    }

    .slick a img:hover {
        opacity: .85;
    }

    /* buttons */

    .slick-arrow {
        border-radius   : 30px;
        background-color: #fff;
        position        : absolute;
        z-index         : 4;
        width           : 48px;
        height          : 48px;
        text-align      : center;
        box-shadow      : 0 2px 5px 0 rgba(0, 0, 0, .15);
        border          : 0;
        cursor          : pointer;
    }

    .descriptionOfdataOfTheProducts {
        margin: 5px 0px;
    }

    .slick-arrow:focus {
        outline: 0;
    }

    .slick-arrow svg {
        width : 12px;
        height: 100%;
        color : rgba(0, 0, 0, .7);
    }

    .slick-prev {
        left: 0px;
    }

    .slick-next {
        right: 0px;
    }

    .conteinerOfText {
        padding: 0px 0px 0px 20px;
    }

}
@media (min-width: 486px) {
    .contentsImgTop {
        margin: 55px auto 0px auto;
    }

    .informationContainerForAllProducts {
        margin: auto;
    }

    .productSubContainer {
        display       : flex;
        flex-direction: row;
        flex-wrap     : wrap;
        width         : 85%;
        margin        : auto;
    }

    .elementsOfProducts {
        width  : 30%;
        padding: 10px;
        margin : 5px auto;
    }

    /* start carrousel  */

    a {
        text-decoration: none;
        margin         : 0;
        padding        : 0;
    }
    .sectionOfAllProducts {
        margin-top: 30px;
    }

    .Carousel {
        width : 100%;
    }

    .Carousel h2 {
        font-size     : 26px;
        line-height   : 38px;
        padding-bottom: 24px;
        opacity       : .9;
        text-transform: uppercase;
        letter-spacing: 10px;
        text-align    : center;
    }

    /* images */

    .slick-list {
        position   : relative;
        display    : flex;
        align-items: center;
        width      : fit-content;
        height     : 304px;
        padding    : 10px 0px;
        margin     : 0px auto;
        max-width  : 90vw;
        overflow   : hidden;
    }

    .slick-track {
        position       : relative;
        top            : 0;
        left           : 0;
        display        : flex;
        justify-content: center;
        transition     : .5s ease-in-out;
    }

    .slick {
        position      : relative;
        width         : 200px;
        padding       : 0px 18px;
        float         : left;
        box-sizing    : border-box;
        display       : flex;
        /* height     : 100%; */
        flex-direction: column;
        align-items   : center;
    }

    .slick h4 {
        position   : absolute;
        z-index    : 1;
        font-size  : 22px;
        line-height: 23px;
        color      : #fff;
        padding    : 15px;
    }

    .slick h4 small {
        font-size: 15px;
        display  : block;
    }

    .slick a img {
        object-fit   : cover;
        width        : 180px;
        border-radius: 4px;
        /* 
        box-shadow   : 0 2px 5px 0 rgba(0, 0, 0, .5); */
        transition   : .3s ease-in-out;
    }

    .slick a img:hover {
        opacity: .85;
    }

    /* buttons */

    .slick-arrow {
        border-radius   : 30px;
        background-color: #fff;
        position        : absolute;
        z-index         : 4;
        width           : 48px;
        height          : 48px;
        text-align      : center;
        box-shadow      : 0 2px 5px 0 rgba(0, 0, 0, .15);
        border          : 0;
        cursor          : pointer;
    }

    .descriptionOfdataOfTheProducts {
        margin: 5px 0px;
    }

    .slick-arrow:focus {
        outline: 0;
    }

    .slick-arrow svg {
        width : 12px;
        height: 100%;
        color : rgba(0, 0, 0, .7);
    }

    .slick-prev {
        left: 0px;
    }

    .slick-next {
        right: 0px;
    }

    .conteinerOfText {
        padding: 0px 0px 0px 20px;
    }

}

@media (min-width: 786px) {
    .informationContainerForAllProducts {
        max-width: 800px;
    }

    .elementsOfProducts {
        width: 22%;
    }

    .Carousel {
        margin: 0px;
    }
}

@media (min-width: 1000px) {
    .informationContainerForAllProducts {
        max-width: 1200px;
    }

    .elementsOfProducts {
        width: 22%;
    }

    .productSubContainer {
        width: 85%;
    }


}
