* {
    box-sizing: border-box;
}

body {
    margin: auto;
    padding: 0px;
    background-color: #536162;
    font-family: 'Roboto', sans-serif;
}

main {
    margin-top: 122px;
}

.carousel-section {
    display: none;
}

.image-session-two {
    display: none;
}

.image-session-three {
    display: none;
}

.one-gif {
    width: 100%;
}

.button-one {
    width: 20px;
    height: 20px;
    background-color: #c06014;
    border-radius: 100%;
}

/*aqui comienza la edicion del primer slider*/

.container {
    background-color: white;
    width: 100%;
    padding: 30px;
}

ul,
li {
    padding: 0;
    margin: 0;
    list-style: none;
}

ul.slider {
    position: relative;
    width: 100%;
    height: 60vh;
}

ul.slider li {
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;
    width: inherit;
    height: inherit;
    transition: opacity .5s;
    background: #fff;
}

ul.slider li img {
    width: 100%;
    height: 59vh;
    object-fit: cover;
}

ul.slider li:first-child {
    opacity: 1;
    /*Mostramos el primer <li>*/
}

ul.slider li:target {
    opacity: 1;
    /*Mostramos el <li> del enlace que pulsemos*/
}

.menu {
    text-align: center;
    margin: 14vh 0px 0px 0px;
}

.menu li {
    display: inline-block;
    text-align: center;
}

.menu li a {
    display: inline-block;
    color: white;
    text-decoration: none;
    background-color: grey;
    padding: 3px;
    width: 30px;
    height: 30px;
    font-size: 20px;
    border-radius: 100%;
}

.two-subtitles02 {
    color: black;
    transition: color 400ms;
}

.two-subtitles02:hover {
    color: firebrick;
}

.options {
    color: black;
    transition: color 450ms;
}

.options:hover {
    color: #DA0037;
}

/*aquí comienza la edicion del segundo slider*/

.container-two {
    background-color: white;
    width: 100%;
    padding: 30px;
}

ul.slider-two {
    position: relative;
    width: 100%;
    height: 60vh;
}

ul.slider-two li {
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;
    width: inherit;
    height: inherit;
    transition: opacity .5s;
    background: #fff;
}

ul.slider-two li img {
    width: 100%;
    height: 59vh;
    object-fit: cover;
}

ul.slider-two li:first-child {
    opacity: 1;
}

ul.slider-two li:target {
    opacity: 1;
}

.menu-two {
    text-align: center;
    margin: 14vh 0px 0px 0px;
}

.menu-two li {
    display: inline-block;
    text-align: center;
}

.menu-two li a {
    display: inline-block;
    color: white;
    text-decoration: none;
    background-color: grey;
    padding: 3px;
    width: 30px;
    height: 30px;
    font-size: 20px;
    border-radius: 100%;
}

/**/
.articulos {
    background-color: white;
}

.price {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 21px;
    font-weight: 600;
    position: relative;
    top: 2vh;
    left: -5vh;
}

.discount {
    border: solid 1px red;
    margin: auto;
    width: 50px;
    height: 45px;
    padding: 9px;
    color: red;
    border-radius: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 19px;
    font-weight: 600;
    position: relative;
    top: -19px;
    right: -10vw;
    cursor: pointer;
}

.descriptions {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 21px;
    font-weight: 600;
}

.two-article {
    margin-top: 20px;
}

/*comienzo a editar la section "image-session-four"*/
.one-button {
    display: none;
}

.logo-container {
    text-align: center;
}

.logo-section-four {
    border-radius: 50%;
    width: 80%;
}

main section article div h4 {
    color: #F3F4ED;
    text-align: center;
    font-size: 21px;
    margin: 3vh 5vw;
}

/*inicio la primera medida query*/

@media (min-width: 481px) {

    body {
        text-align: center;
        margin: 0px 0px;
        background-color: white;
    }

    main {
        margin-top: 170px
    }



    main section article div h4 {
        color: black;
        font-size: 25px;
        margin: auto;
        width: 80%;
    }



    ul.slider li img {
        width: 100%;
        height: 75vh;
    }

    .menu {
        margin-top: 30vh;
    }

    .menu-two {
        margin: 45vh 0px 0px 0px;
    }

    ul.slider-two li img {
        height: 89vh;
    }
}

/*inicio la segunda medida query y fin de la primera*/

@media (min-width: 767px) {
    .conteiner-logo {
        margin: -80px 0px 0px;
    }

    body {
        background-color: white;
    }

    .image-none {
        display: none;
    }

    /**/
    header article div nav ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        height: 50px;
        background-color: #C06014;
        margin-top: -5px;
        padding: 8px 0px 33px;
        font-size: 25px;
    }

    header article div nav ul li a {
        color: #F3F4ED;
    }


    .two-slider-container {
        display: none;
    }

    .image-session-two {
        display: block;
    }


    .parent-container {
        padding: 30px;
        width: 80%;
        height: 350px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto;
    }

    ul.parent-sub-container {
        position: relative;
        height: 100%;
        width: 94%;
    }

    ul.parent-sub-container li {
        position: absolute;
        left: 0px;
        top: 0px;
        opacity: 0;
        width: inherit;
        height: inherit;
        transition: opacity .5s;
    }

    .contents {
        display: flex;
        flex-direction: row;
    }

    ul.parent-sub-container li img {
        width: 200px;
        height: 200px;
        border-radius: 100%;
        margin: 0px 5px;
        object-fit: cover;
    }

    ul.parent-sub-container li:first-child {
        opacity: 1;
        width: 100%;
    }

    ul.parent-sub-container li:target {
        opacity: 1;
    }

    .command-menu li {
        display: inline-block;
        text-align: center;
        margin-top: 12px;
    }

    .command-menu li a {
        display: inline-block;
        color: white;
        text-decoration: none;
        background-color: grey;
        padding: 3px;
        width: 30px;
        height: 30px;
        font-size: 20px;
        border-radius: 100%;
    }

    /*fin de la edicion del slider*/

    main section article div h4 {
        font-size: 31px;
        width: 55%;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .image-session-three {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .image-session-three article {
        border-radius: 30px;
    }

    .photo-article {
        border: white solid 1px;
        transition: border 450ms;
    }

    .photo-article:hover {
        border: solid black 4px;
    }

    .image-session-three article div img {
        border-radius: 22px;
    }

    .logo_shark_style {
        border-radius: 100%;
        width: 24vw;
        height: 21vh;
        border: double 10px #F3F4ED;
        position: relative;
        top: 50px;
        margin: 0px 8px;
    }

    .image-session-four {
        display: block;
    }

    .logo-section-four {
        display: none;
    }

    /*edicion de la cuarta sección*/
    .stuff-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .one-gif {
        position: relative;
        width: 400px;
        border-radius: 35px;
        margin: 15px 40px;
    }

    .footer-section-botton {
        flex-direction: row;
        align-content: center;
    }

    .logo-shark-botton {
        display: none;
    }

    footer section div label h5 {
        font-size: 30px;
    }

    .one-footer-nav {
        top: 10px;
        left: 2vw;
    }

    footer section p {
        display: none;
    }

    .container-email-social-networks {
        top: -5px;
        left: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .social-media li {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .social-media li a {
        font-size: 40px;
    }

    footer section div nav {
        margin-right: 5.5vw;
    }

    .second-list-footer {
        width: 248px;
        margin-left: -10px;
    }

    .first-list-footer {
        width: 141px;
    }
}

@media (min-width: 1280px) {
    .image-none {
        display: block;
    }



    .contents {
        width: 80%;
    }

    main {
        margin: 150px 10% 50px;
    }

    .image-session-two {
        margin-right: 5%;
    }

    ul.parent-sub-container li {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    ul.parent-sub-container li img {
        width: 25%;
        height: 30vh;
    }

    ul.parent-sub-container {
        width: 110%;
    }

    .parent-container {
        padding: 30px 50px 30px 30px;
    }

    .image-session-three {
        width: 90%;
        margin: auto;
        margin-top: 20vh;
    }

    .image-session-three article {
        width: 50%;
    }

    .command-menu {
        margin-left: 95px;
    }
}