* {
    box-sizing: border-box;
}

body {
    margin               : 0px;
    font-family          : 'Roboto Condensed', sans-serif;
    background-image     : url('../img/relevant-images/jorda.jpg');
    background-repeat    : no-repeat;
    background-size      : cover;
    background-attachment: fixed;
    background-position  : center center;
}

@media (max-width: 467px) {
    
.elementMain {
    margin: 0px;
}

.login-container {
    margin: 0px;
}

.inputs-container {
    display       : flex;
    flex-direction: column;
    align-items   : center;
    width         : 60%;
    margin        : auto;
    line-height   : 20px;
}

.title {
    margin: 0px;
    color: #D8E3E7;
}

.login-info-container {
    background-color: #126e82cf;
    width: 100%;
    margin: auto;
    display         : flex;
    flex-direction  : column;
    align-items     : center;
    height          : 540px;
    box-shadow      : 0px 0px 5px #132c33;
}

.containerOfImgAndTitle {
    text-align: center;
}
.span {
    color: white;
}

.title-shark {
    color    : #51C4D3;
    font-size: 33px;
    margin   : -13px 0px 0px 0px;
}
.msg-email {
    font-size: 18px;
    margin-bottom: 5px;
    color: white;
}
.msg-password {
    font-size: 18px;
    margin-bottom: 5px;
    color: white;
}
#confirmEmail {
    margin-bottom: 20px;
    width: 140%;
    height       : 30px;
    border-radius: 3px;
    border       : 1px black solid;
}

#confirmPassword {
    width: 140%;
    height       : 30px;
    border-radius: 3px;
    border       : 1px black solid;
}

.checkbox {
    margin   : 5px 0px 10px 0px;
    font-size: 18px;
}

.boton {
    background-color: #51C4D3;
    height          : 25px;
    border-radius   : 4px;
    border          : solid 1px black;
    transition      : all 0.5s;
    margin-bottom   : 30px;
}

.boton:hover {
    background-color: #126E82;
}

.link-register {
    color: #5ad8e9;
}

.redes-login {
    display        : flex;
    justify-content: space-between;
    align-items    : center;
    width          : 35%;
    font-size      : 40px;
    padding        : 20px 0px 43px 0px;
}
}
@media (min-width: 468px) {
    .elementMain {
        margin: 0px;
    }
    
    .login-container {
        margin: 100px 0px;
    }
    
    .inputs-container {
        display       : flex;
        flex-direction: column;
        align-items   : center;
        width         : 60%;
        margin        : auto;
        padding       : 30px 30px 0px 30px;
        line-height   : 20px;
    }
    
    .title {
        margin: 0px;
        color: #D8E3E7;
    }
    
    .login-info-container {
        background-color: #126e82cf;
        width           : 400px;
        margin          : 0px 0px 0px 10%;
        display         : flex;
        flex-direction  : column;
        align-items     : center;
        height          : 540px;
        box-shadow      : 0px 0px 5px #132c33;
    }
    
    .containerOfImgAndTitle {
        text-align: center;
    }
    .span {
        color: white;
    }
    
    .title-shark {
        color    : #51C4D3;
        font-size: 33px;
        margin   : -13px 0px 0px 0px;
    }
    .msg-email {
        font-size: 18px;
        margin-bottom: 5px;
        color: white;
    }
    .msg-password {
        font-size: 18px;
        margin-bottom: 5px;
        color: white;
    }
    #confirmEmail {
        margin-bottom: 30px;
        width        : 250px;
        height       : 30px;
        border-radius: 3px;
        border       : 1px black solid;
    }

    #confirmPassword {
        width        : 250px;
        height       : 30px;
        border-radius: 3px;
        border       : 1px black solid;
    }

    .checkbox {
        margin   : 5px 0px 10px 0px;
        font-size: 18px;
    }

    .boton {
        background-color: #51C4D3;
        width           : 200px;
        height          : 25px;
        border-radius   : 4px;
        border          : solid 1px black;
        transition      : all 0.5s;
        margin-bottom   : 30px;
    }

    .boton:hover {
        background-color: #126E82;
    }

    .link-register {
        color: #5ad8e9;
    }

    .redes-login {
        display        : flex;
        justify-content: space-between;
        align-items    : center;
        width          : 35%;
        font-size      : 40px;
        padding        : 20px 0px 43px 0px;
    }
}
@media (min-width: 886px) {
    .inputs-container {
        display       : flex;
        flex-direction: column;
        align-items   : center;
        width         : 400px;
        height        : 300px;
        line-height   : 20px;
    }
}
@media (min-width: 1000px) {
    .login-info-container {
        margin: 0px 0px 0px 20%;
    }
}