body {
    background-color: rgb(243, 244, 237);
    font-family: 'Roboto Condensed', sans-serif;
}

header .header {
    margin-bottom: 150px;
}

main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 15px;
}

main .picture {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 10%;
}

main section .p1, .p2, .p3, .p4 {
    width: 120px;
    height: 160px;
    border: solid 2px rgb(66, 70, 66);
    margin-bottom: 10px;
    border-radius: 5%;
}

main section #pic:hover {
    box-shadow: 0px 0px 10px rgb(83, 97, 98);
    border: solid 3px grey;
}

main section .img-p1, .img-p2, .img-p3, .img-p4{
    border-radius: 5%;
}

main section .conteiner {
    width: 50%;
}

main section article .principalPicture {
    width: 450px;
    height: 595px;
    border: solid 2px rgb(66, 70, 66);
    border-radius: 2%;
}

main section .principalPicture:hover {
    box-shadow: 0px 0px 10px rgb(83, 97, 98);
    border: solid 3px grey;
}

main section article .img-principalPicture {
    border-radius: 2%;
}

main.detail {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

main section article .name {
    font-size: 50px;
    text-align: left;
    color: rgb(192, 96, 20);
    font-weight: bold;
}

main section article .lastName {
    font-size: 20px;
    text-align: left;
    color: rgb(83, 97, 98);
    width: auto;
}

main section article .price {
    font-size: 60px;;
    text-align: left;
    color: rgb(66, 70, 66);
    padding-top: 10px;
}

main section article .colorModel {
    text-align: left;
    font-size: 40px;
    color: rgb(83, 97, 98);
    padding-top: 10px;
}

main section article .model {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

main section article .m1, .m2, .m3, .m4 {
    width: 80px;
    height: 110px;
    border: solid 2px rgb(66, 70, 66);
    margin-right: 10px;
    border-radius: 5%;
}

main section article #mod:hover {
    box-shadow: 0px 0px 10px rgb(83, 97, 98);
    border: solid 3px grey;
}


main section article .img-m1, .img-m2, .img-m3, .img-m4 {
    border-radius: 5%;
}

main section article .talles {
    text-align: left;
    font-size: 40px;
    color: rgb(83, 97, 98);
    padding-top: 10px;
}

main section article .size {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

main section article .xs, .s, .m, .l, .xl {
    width: 40px;
    height: 30px;
    border: solid 2px rgb(66, 70, 66);
    margin-right: 10px;
    text-align: center;
    font-size: 22px;
    color:rgb(66, 70, 66);
    border-radius: 30%;
}

main section article #siz:hover {
    box-shadow: 0px 0px 10px rgb(83, 97, 98);
    border: solid 3px grey;
}


main section .action {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
}

main section article .buy {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: auto;
    height: auto;
    border: solid 2px rgb(66, 70, 66);
    color:rgb(66, 70, 66);
    text-align: center;
    font-size: 30px;
    border-radius: 5px;
    margin-top: 20px;
}

main section article .buy:hover {
    box-shadow: 0px 0px 10px rgb(83, 97, 98);
    border: solid 2px grey;
}

main section article .saveCart {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: rgb(192, 96, 20);
    color: rgb(243, 244, 237);
    border: solid 2px rgb(192, 96, 20);
    border-radius: 4px;
    margin-right: 5px;
    font-size: 30px;
}

main section article .saveCart:hover {
    box-shadow: 0px 0px 10px rgb(83, 97, 98);
    border: solid 2px #b85b11;
}

main section article .follow {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: auto;
    height: auto;
    border: solid 2px rgb(66, 70, 66);
    color:rgb(66, 70, 66);
    text-align: center;
    font-size: 30px;
    border-radius: 5px;
    padding-left: 8px;
    padding-right: 8px;
}

main section article .follow:hover {
    box-shadow: 0px 0px 10px rgb(83, 97, 98);
    border: solid 2px grey;
}

/* -No puedo hacer que esta parte funcione-*/
@media (min-width: 665px) {
    main {
        margin-top: 150px;
    }    
    main .picture {
        flex-direction: row;
    }
}