* {
    box-sizing: border-box;
}

.all_container {
    font-family: 'Roboto Condensed', sans-serif;
}

main {
    margin : 50px auto;
    border : solid black 1px;
    display: flex;
}

.button_edit {
    background-color: #00b6ff;
    color           : black;
    padding         : 2px 6px;
    border-radius   : 10px 0px;
    margin-left     : 5px;
}

.user_photo {
    border-radius: 100%;
    width        : 250px;
    object-fit   : cover;
    height       : 250px;
}

.container_user {
    margin        : 0px;
    width         : 50%;
    display       : flex;
    flex-direction: column;
    align-items   : center;
    /* 
    border        : solid red 1px; */
}

.options_of_users {
    border     : solid;
    margin-left: 50px;
    width      : 50%;
    padding    : 10px 20px;
}
/* 
.colorChange {
    width        : 50px;
    border       : solid 2px black;
    border-radius: 10px;
} */

.name {
    text-align: center;
}

@media (min-width: 976px) {
    main {
        max-width: 900px;
        padding  : 20px;
    }

    .container_user {
        width     : 35%;
        box-shadow: 0px 0px 5px black
    }
}

@media (min-width: 1200px) {
    main {
        max-width: 1100px;
    }

    .container_user {
        width: 30%;
    }
}