* {
    box-sizing: border-box;
}

body {
        font-family: 'Roboto', sans-serif;
        background-color: white;
}

.hh2 {
    display: none;
}

.shark-logo {
    width: 90%;
    margin-left: 7%;
    display: none;
}

.text-p {
    display: none;
}

.section-form {
    display         : flex;
    flex-direction  : column;
    align-items     : center;
    padding         : 10;
    background-color: rgb(180, 183, 182);

}

h2 {
    font-family:  'Roboto', serif;
    font-size: 28px;
    margin: 8px 0px;
}

.cam {
    border-radius: 5px;
    width: 250px;
    height: 25px;
    border: solid 2px white;
    transition: border 450ms;
    padding-left: 12px;
    font-weight: 600;
}

.cam:hover {
    border: solid 2px black;
}

.nombre {
    display: block;
    margin-bottom: 6px;
    font-style: italic;
    padding-left: 10px;
    font-size: 15px;
}

.terminos {

    margin-top: 25px;
    text-align: center;
}

.data-field {
    margin-top: 10px;
}

.button {
    margin-top: 15px;
    margin-bottom: 20px;
    width           : 200px;
    height          : 40px;
    background-color: #f3f3f3;
    border: solid 1px black;
    border-radius   : 10px;
    transition: background-color 450ms;
}

.button:hover {
    background-color: #c7c7c7;
}

@media (min-width: 480px) {
    .div-main {
        margin: auto;
        margin-top: 40px;
        margin-bottom: 40px;
    }
    .main-form {
        display: flex;
        justify-content: center;
        max-width: 550px;
        margin: auto;
        box-shadow: 0px 0px 10px rgb(83 97 98);
    }

    .section-logo {
        background-image : url('../img/style-shark.png');
        background-repeat: round;
        width            : 50%;
    }

    .data-field {
        width: 100%;
        margin-left: 5%;
    }

    .terminos {
        width: 90%;
        margin: 40px 8% 0px 0%;
    }

    .cam {
        width: 90%;
    }

    .section-form {
        display         : flex;
        flex-direction  : column;
        background-color: #f3f3f3;
        padding         : 10px;
        flex-wrap       : wrap;
        width: 50%;
    }
}

@media (min-width: 767px) {
    .div-main {
        margin-top: 160px;
    }
    .main-form {
        max-width: 800px;
    }
}