* {
    box-sizing: border-box;
}

main {
    font-family: 'Roboto', sans-serif;
    width: 90%;
    margin: auto;
    margin-top: 200px;
    margin-bottom: 100px;
    max-width: 1000px;
    box-shadow: 0px 0px 10px black;
}
/* le doy estilo y posición a la section-one*/
.div-conteiner-shark-style {
    text-align: center;
    border-bottom: solid 3px #50CB93;
    width: 90%;
    margin: auto;
}

.div-conteiner-shark-style img {
    width: 200px;
    margin-top: 10px;
    object-fit: none;
}

.section-one {
    border-bottom: solid 1px black
} 

.options-of-nav {
    width: 55%;
    height: 40px;
    padding-left: 20px;
    font-size: 20px;
    font-weight: 600;
}

section nav ol li {
    list-style: none
}

section nav ol {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.section-main {
    display: flex;
    justify-content: center;
    background-color: white;
}
/* le doy estilo y posición a section-two*/
.section-two {
    width: 60%;
}

.section-two article div img {
    border-radius: 10px
}

.section-two article p {
    font-size: 18px;
    font-weight: 700;
}
.units {
    display: flex;
    justify-content: space-around;
    width: 100px;
}

.color {
    background-color: gray;
    text-align: center;
    padding-bottom: 20px;
    width: 35px;
    height: 16px;
    border-radius: 2px;
}

.section-two article {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 5px 0px;
}

.return-button {
    margin: 0px 0px 10px 10%;

}

.return-button a input {
    width: 200px;
    height: 30px;
    border-radius: 5px;
    background-color: #8AB6D6;
    transition: background-color 450ms;
}

.return-button a input:hover {
    background-color: #2978B5;
}

.title-summary {
    font-size: 20px;
    color: #2978B5;
}
    /* le doy estilo y posición a section-three*/

.section-three {
    width: 40%;
    border-left: solid 1px gray;
    height: 400px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.shipments-and-subtotal {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    font-weight: 600;
    border-bottom: solid 1px black;
    font-size: 17px;
}

.style-button {
    margin-bottom: 30px
}

.shipments-and-subtotal a {
    text-decoration: none;
    color: black;
}

.section-three div a input {
    width: 200px;
    height: 31px;
    border-radius: 8px;
    background-color: #71EFA3;
    transition: background-color 450ms;
}

.section-three div a input:hover {
    background-color: #50CB93;
}