<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') -%>
        <link rel="stylesheet" href="/css/productCreate.css">
        <title>Cre치 un Nuevo Producto</title>
</head>

<body>
    <header>
        <div>
            <%- include('../partials/header') %>
        </div>
    </header>
    <main>
        <div class="create">
            <form class="create-form" action="/products/create" method="POST">
                <div class="box">
                    <p>
                        <label class="create-text">Nombre del producto</label>
                    </p>
                    <p>
                        <input class="create-input" type="text" name="name"></input>
                    </p>
                </div>
                <div class="box">
                    <p>
                        <label class="create-text">Descripci칩n</label>
                    </p>
                    <p>
                        <input class="create-input" type="text" name="description"></input>
                    </p>
                </div>
                <div class="box">
                    <p>
                        <label class="create-text">Precio</label>
                    </p>
                    <p>
                        <input class="create-input" type="number" name="price"></input>
                    </p>
                </div>
                <div class="box">
                    <p>
                        <label class="create-text">Im치gen principal</label>
                    </p>
                    <p>
                        <input class="create-img" type="file" accept=".jpg" value="foto" name="img-principal"></input>
                    </p>
                </div>
                <div class="box">
                    <p>
                        <label class="create-text">Im치genes de respaldo</label>
                    </p>
                    <p>
                        <input class="create-img" type="file" accept=".jpg" value="foto" multiple
                            name="img-respaldo"></input>
                    </p>
                </div>
                <div class="box">
                    <p>
                        <label class="create-text">Modelos disponibles</label>
                    </p>
                    <p>
                        <input class="create-img" type="file" accept=".jpg" value="foto" multiple
                            name="img-modelos"></input>
                    </p>
                </div>
                <div class="box">
                    <p>
                        <label class="create-text">Talles disponibles</label>
                    </p>
                    <p>
                        <select class="create-options" name="intereses">
                            <option type="checkbox" name="size-xs">XS</option>
                            <option type="checkbox" name="size-s">S</option>
                            <option type="checkbox" name="size-m">M</option>
                            <option type="checkbox" name="size-l">L</option>
                            <option type="checkbox" name="size-xl">XL</option>
                        </select>
                    </p>
                </div>
                <div class="box">
                    <p>
                        <label class="create-text">Categorias</label>
                    </p>
                    <p>
                        <select class="create-options" name="intereses">
                            <option type="checkbox" name="category-men">Hombres</option>
                            <option type="checkbox" name="category-women">Mujeres</option>
                            <option type="checkbox" name="category-venta-mayorista">Venta Mayorista</option>
                        </select>
                    </p>
                </div>
                <div class="box-button">
                    <p class="box-button-preview">
                        <a href="/products/detail">
                            <input id="button-preview" class="create-text" type="submit" value="Previsualizar">
                        </a>
                    </p>
                    <p class="box-button-send">
                        <a href="/products/create">
                            <input id="button-send" class="create-text" type="submit" value="Enviar">
                        </a>
                    </p>
                    <p class="box-button-delete">
                        <input id="button-delete" class="create-text" type="button" type="reset" value="Borrar"></input>
                    </p>
                </div>
            </form>
        </div>
    </main>
    <%- include ( '../partials/footer' ) -%>
</body>

</html>