<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') -%> 
    <link rel="stylesheet" href="/css/productList.css">
    <title>Lista de Productos</title>
</head>

<body>
    <header>
        <div>
            <%- include('../partials/header') %> 
        </div>
    </header>
    <main>
        <section class = "section">
            <article>
                <div class = "article">
                    <img class = "img" src = "/img/t-shirt.black.jpg" alt = ""/>
                    <br>
                    <div class = line>
                        <div class = "shipping"><i class="fas fa-truck"></i></div>
                        <div class = "box-text">
                            <div class = "price" >$1.558,08</div>
                        </div>
                        <div>
                            <div class = "description">Camiseta con capucha negra</div>
                            <p class = "box-button-save">
                                <a href="/shopping">
                                    <input class = "button-save" type="button" value="Agregar al carrito">
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </article>
            <article>
                <div class = "article">
                    <img class = "img" src = "/img/t-shirt.orange.jpg" alt = ""/>
                    <br>
                    <div class = line>
                        <div class = "shipping"><i class="fas fa-truck"></i></div>
                        <div class = "box-text">
                            <div class = "price" >$1.558,08</div>
                        </div>
                        <div>
                            <div class = "description">Camiseta con capucha negra</div>
                            <p class = "box-button-save">
                                <a href="/shopping">
                                    <input class = "button-save" type="button" value="Agregar al carrito">
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </article>
            <article>
                <div class = "article">
                    <img class = "img" width = "360" height = "385" src = "/img/t-shirt.skyblue.jpg" alt = ""/>
                    <br>
                    <div class = line>
                        <div class = "shipping"><i class="fas fa-truck"></i></div>
                        <div class = "box-text">
                            <div class = "price" >$1.558,08</div>
                        </div>
                        <div>
                            <div class = "description">Camiseta con capucha negra</div>
                            <p class = "box-button-save">
                                <a href="/shopping">
                                    <input class = "button-save" type="button" value="Agregar al carrito">
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </article>
            <article>
                <div class = "article">
                    <img class = "img" width = "360" height = "385" src = "/img/t-shirt.white.jpg" alt = ""/>
                    <br>
                    <div class = line>
                        <div class = "shipping"><i class="fas fa-truck"></i></div>
                        <div class = "box-text">
                            <div class = "price" >$1.558,08</div>
                        </div>
                        <div>
                            <div class = "description">Camiseta con capucha negra</div>
                            <p class = "box-button-save">
                                <a href="/shopping">
                                    <input class = "button-save" type="button" value="Agregar al carrito">
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </article>
            <article>
                <div class = "article">
                    <img class = "img" width = "360" height = "385" src = "/img/4.jpg" alt = ""/>
                    <br>
                    <div class = line>
                        <div class = "shipping"><i class="fas fa-truck"></i></div>
                        <div class = "box-text">
                            <div class = "price" >$1.558,08</div>
                        </div>
                        <div>
                            <div class = "description">Camiseta con capucha negra</div>
                            <p class = "box-button-save">
                                <a href="/shopping">
                                    <input class = "button-save" type="button" value="Agregar al carrito">
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </article>
            <article>
                <div class = "article">
                    <img class = "img" width = "360" height = "385" src = "/img/5.jpg" alt = ""/>
                    <br>
                    <div class = line>
                        <div class = "shipping"><i class="fas fa-truck"></i></div>
                        <div class = "box-text">
                            <div class = "price" >$1.558,08</div>
                        </div>
                        <div>
                            <div class = "description">Camiseta con capucha negra</div>
                            <p class = "box-button-save">
                                <a href="/shopping">
                                    <input class = "button-save" type="button" value="Agregar al carrito">
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </article>
            <article>
                <div class = "article">
                    <img class = "img" src = "/img/zapatilla hombre.jpg" alt = ""/>
                    <br>
                    <div class = line>
                        <div class = "shipping"><i class="fas fa-truck"></i></div>
                        <div class = "box-text">
                            <div class = "price" >$1.558,08</div>
                        </div>
                        <div>
                            <div class = "description">Camiseta con capucha negra</div>
                            <p class = "box-button-save">
                                <a href="/shopping">
                                    <input class = "button-save" type="button" value="Agregar al carrito">
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </article>
            <article>
                <div class = "article">
                    <img class = "img" src = "/img/zapatilla mujer.jpg" alt = ""/>
                    <br>
                    <div class = line>
                        <div class = "shipping"><i class="fas fa-truck"></i></div>
                        <div class = "box-text">
                            <div class = "price" >$1.558,08</div>
                        </div>
                        <div>
                            <div class = "description">Camiseta con capucha negra</div>
                            <p class = "box-button-save">
                                <a href="/shopping">
                                    <input class = "button-save" type="button" value="Agregar al carrito">
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </article>
            <article>
                <div class = "article">
                    <img class = "img" src = "/img/8.jpg" alt = ""/>
                    <br>
                    <div class = line>
                        <div class = "shipping"><i class="fas fa-truck"></i></div>
                        <div class = "box-text">
                            <div class = "price" >$1.558,08</div>
                        </div>
                        <div>
                            <div class = "description">Camiseta con capucha negra</div>
                            <p class = "box-button-save">
                                <a href="/shopping">
                                    <input class = "button-save" type="button" value="Agregar al carrito">
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </article>
            <article>
                <div class = "article">
                    <img class = "img" src = "/img/9.jpg" alt = ""/>
                    <br>
                    <div class = line>
                        <div class = "shipping"><i class="fas fa-truck"></i></div>
                        <div class = "box-text">
                            <div class = "price" >$1.558,08</div>
                        </div>
                        <div>
                            <div class = "description">Camiseta con capucha negra</div>
                            <p class = "box-button-save">
                                <a href="/shopping">
                                    <input class = "button-save" type="button" value="Agregar al carrito">
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </article>
            <article>
                <div class = "article">
                    <img class = "img" src = "/img/10.jpg" alt = ""/>
                    <br>
                    <div class = line>
                        <div class = "shipping"><i class="fas fa-truck"></i></div>
                        <div class = "box-text">
                            <div class = "price" >$1.558,08</div>
                        </div>
                        <div>
                            <div class = "description">Camiseta con capucha negra</div>
                            <p class = "box-button-save">
                                <a href="/shopping">
                                    <input class = "button-save" type="button" value="Agregar al carrito">
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </article>
            <article>
                <div class = "article">
                    <img class = "img" src = "/img/6.jpg" alt = ""/>
                    <br>
                    <div class = line>
                        <div class = "shipping"><i class="fas fa-truck"></i></div>
                        <div class = "box-text">
                            <div class = "price" >$1.558,08</div>
                        </div>
                        <div>
                            <div class = "description">Camiseta con capucha negra</div>
                            <p class = "box-button-save">
                                <a href="/shopping">
                                    <input class = "button-save" type="button" value="Agregar al carrito">
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </article>
            <article>
                <div class = "article">
                    <img class = "img" src = "/img/11.jpg" alt = ""/>
                    <br>
                    <div class = line>
                        <div class = "shipping"><i class="fas fa-truck"></i></div>
                        <div class = "box-text">
                            <div class = "price" >$1.558,08</div>
                        </div>
                        <div>
                            <div class = "description">Camiseta con capucha negra</div>
                            <p class = "box-button-save">
                                <a href="/shopping">
                                    <input class = "button-save" type="button" value="Agregar al carrito">
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </article>
            <article>
                <div class = "article">
                    <img class = "img" src = "/img/14.jpg" alt = ""/>
                    <br>
                    <div class = line>
                        <div class = "shipping"><i class="fas fa-truck"></i></div>
                        <div class = "box-text">
                            <div class = "price" >$1.558,08</div>
                        </div>
                        <div>
                            <div class = "description">Camiseta con capucha negra</div>
                            <p class = "box-button-save">
                                <a href="/shopping">
                                    <input class = "button-save" type="button" value="Agregar al carrito">
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </article>
            <article>
                <div class = "article">
                    <img class = "img" src = "/img/15.jpg" alt = ""/>
                    <br>
                    <div class = line>
                        <div class = "shipping"><i class="fas fa-truck"></i></div>
                        <div class = "box-text">
                            <div class = "price" >$1.558,08</div>
                        </div>
                        <div>
                            <div class = "description">Camiseta con capucha negra</div>
                            <p class = "box-button-save">
                                <a href="/shopping">
                                    <input class = "button-save" type="button" value="Agregar al carrito">
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </article>
            <article>
                <div class = "article">
                    <img class = "img" src = "/img/Chamarra.jpg" alt = ""/>
                    <br>
                    <div class = line>
                        <div class = "shipping"><i class="fas fa-truck"></i></div>
                        <div class = "box-text">
                            <div class = "price" >$1.558,08</div>
                        </div>
                        <div>
                            <div class = "description">Camiseta con capucha negra</div>
                            <p class = "box-button-save">
                                <a href="/shopping">
                                    <input class = "button-save" type="button" value="Agregar al carrito">
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </article>
            <article>
                <div class = "article">
                    <img class = "img" src = "/img/2.jpg" alt = ""/>
                    <br>
                    <div class = line>
                        <div class = "shipping"><i class="fas fa-truck"></i></div>
                        <div class = "box-text">
                            <div class = "price" >$1.558,08</div>
                        </div>
                        <div>
                            <div class = "description">Camiseta con capucha negra</div>
                            <p class = "box-button-save">
                                <a href="/shopping">
                                    <input class = "button-save" type="button" value="Agregar al carrito">
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </article>
            <article>
                <div class = "article">
                    <img class = "img" src = "/img/13.jpg" alt = ""/>
                    <br>
                    <div class = line>
                        <div class = "shipping"><i class="fas fa-truck"></i></div>
                        <div class = "box-text">
                            <div class = "price" >$1.558,08</div>
                        </div>
                        <div>
                            <div class = "description">Camiseta con capucha negra</div>
                            <p class = "box-button-save">
                                <a href="/shopping">
                                    <input class = "button-save" type="button" value="Agregar al carrito">
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </article>
            <article>
                <div class = "article">
                    <img class = "img" src = "/img/24.jpg" alt = ""/>
                    <br>
                    <div class = line>
                        <div class = "shipping"><i class="fas fa-truck"></i></div>
                        <div class = "box-text">
                            <div class = "price" >$1.558,08</div>
                        </div>
                        <div>
                            <div class = "description">Camiseta con capucha negra</div>
                            <p class = "box-button-save">
                                <a href="/shopping">
                                    <input class = "button-save" type="button" value="Agregar al carrito">
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </article>
            <article>
                <div class = "article">
                    <img class = "img" src = "/img/pantalon mujer.jpg" alt = ""/>
                    <br>
                    <div class = line>
                        <div class = "shipping"><i class="fas fa-truck"></i></div>
                        <div class = "box-text">
                            <div class = "price" >$1.558,08</div>
                        </div>
                        <div>
                            <div class = "description">Camiseta con capucha negra</div>
                            <p class = "box-button-save">
                                <a href="/shopping">
                                    <input class = "button-save" type="button" value="Agregar al carrito">
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </article>
            <article>
                <div class = "article">
                    <img class = "img" src = "/img/16.jpg" alt = ""/>
                    <br>
                    <div class = line>
                        <div class = "shipping"><i class="fas fa-truck"></i></div>
                        <div class = "box-text">
                            <div class = "price" >$1.558,08</div>
                        </div>
                        <div>
                            <div class = "description">Camiseta con capucha negra</div>
                            <p class = "box-button-save">
                                <a href="/shopping">
                                    <input class = "button-save" type="button" value="Agregar al carrito">
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </article>
            <article>
                <div class = "article">
                    <img class = "img" src = "/img/17.jpg" alt = ""/>
                    <br>
                    <div class = line>
                        <div class = "shipping"><i class="fas fa-truck"></i></div>
                        <div class = "box-text">
                            <div class = "price" >$1.558,08</div>
                        </div>
                        <div>
                            <div class = "description">Camiseta con capucha negra</div>
                            <p class = "box-button-save">
                                <a href="/shopping">
                                    <input class = "button-save" type="button" value="Agregar al carrito">
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </article>
            <article>
                <div class = "article">
                    <img class = "img" src = "/img/18.jpg" alt = ""/>
                    <br>
                    <div class = line>
                        <div class = "shipping"><i class="fas fa-truck"></i></div>
                        <div class = "box-text">
                            <div class = "price" >$1.558,08</div>
                        </div>
                        <div>
                            <div class = "description">Camiseta con capucha negra</div>
                            <p class = "box-button-save">
                                <a href="/shopping">
                                    <input class = "button-save" type="button" value="Agregar al carrito">
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </article>
            <article>
                <div class = "article">
                    <img class = "img" src = "/img/21.jpg" alt = ""/>
                    <br>
                    <div class = line>
                        <div class = "shipping"><i class="fas fa-truck"></i></div>
                        <div class = "box-text">
                            <div class = "price" >$1.558,08</div>
                        </div>
                        <div>
                            <div class = "description">Camiseta con capucha negra</div>
                            <p class = "box-button-save">
                                <a href="/shopping">
                                    <input class = "button-save" type="button" value="Agregar al carrito">
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </article>
            <article>
                <div class = "article">
                    <img class = "img" src = "/img/.jpg" alt = ""/>
                    <br>
                    <div class = line>
                        <div class = "shipping"><i class="fas fa-truck"></i></div>
                        <div class = "box-text">
                            <div class = "price" >$1.558,08</div>
                        </div>
                        <div>
                            <div class = "description">Camiseta con capucha negra</div>
                            <p class = "box-button-save">
                                <a href="/shopping">
                                    <input class = "button-save" type="button" value="Agregar al carrito">
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </article>
            <article>
                <div class = "article">
                    <img class = "img" src = "/img/26.jpg" alt = ""/>
                    <br>
                    <div class = line>
                        <div class = "shipping"><i class="fas fa-truck"></i></div>
                        <div class = "box-text">
                            <div class = "price" >$1.558,08</div>
                        </div>
                        <div>
                            <div class = "description">Camiseta con capucha negra</div>
                            <p class = "box-button-save">
                                <a href="/shopping">
                                    <input class = "button-save" type="button" value="Agregar al carrito">
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </article>
            <article>
                <div class = "article">
                    <img class = "img" src = "/img/27.jpg" alt = ""/>
                    <br>
                    <div class = line>
                        <div class = "shipping"><i class="fas fa-truck"></i></div>
                        <div class = "box-text">
                            <div class = "price" >$1.558,08</div>
                        </div>
                        <div>
                            <div class = "description">Camiseta con capucha negra</div>
                            <p class = "box-button-save">
                                <a href="/shopping">
                                    <input class = "button-save" type="button" value="Agregar al carrito">
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </article>
            <article>
                <div class = "article">
                    <img class = "img" src = "/img/.jpg" alt = ""/>
                    <br>
                    <div class = line>
                        <div class = "shipping"><i class="fas fa-truck"></i></div>
                        <div class = "box-text">
                            <div class = "price" >$1.558,08</div>
                        </div>
                        <div>
                            <div class = "description">Camiseta con capucha negra</div>
                            <p class = "box-button-save">
                                <a href="/shopping">
                                    <input class = "button-save" type="button" value="Agregar al carrito">
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </article>
            <article>
                <div class = "article">
                    <img class = "img" src = "/img/.jpg" alt = ""/>
                    <br>
                    <div class = line>
                        <div class = "shipping"><i class="fas fa-truck"></i></div>
                        <div class = "box-text">
                            <div class = "price" >$1.558,08</div>
                        </div>
                        <div>
                            <div class = "description">Camiseta con capucha negra</div>
                            <p class = "box-button-save">
                                <a href="/shopping">
                                    <input class = "button-save" type="button" value="Agregar al carrito">
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </article>
            <article>
                <div class = "article">
                    <img class = "img" src = "/img/3.jpg" alt = ""/>
                    <br>
                    <div class = line>
                        <div class = "shipping"><i class="fas fa-truck"></i></div>
                        <div class = "box-text">
                            <div class = "price" >$1.558,08</div>
                        </div>
                        <div>
                            <div class = "description">Camiseta con capucha negra</div>
                            <p class = "box-button-save">
                                <a href="/shopping">
                                    <input class = "button-save" type="button" value="Agregar al carrito">
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </article>
            <article>
                <div class = "article">
                    <img class = "img" src = "/img/29.jpg" alt = ""/>
                    <br>
                    <div class = line>
                        <div class = "shipping"><i class="fas fa-truck"></i></div>
                        <div class = "box-text">
                            <div class = "price" >$1.558,08</div>
                        </div>
                        <div>
                            <div class = "description">Camiseta con capucha negra</div>
                            <p class = "box-button-save">
                                <a href="/shopping">
                                    <input class = "button-save" type="button" value="Agregar al carrito">
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </article>
            <article>
                <div class = "article">
                    <img class = "img" src = "/img/.jpg" alt = ""/>
                    <br>
                    <div class = line>
                        <div class = "shipping"><i class="fas fa-truck"></i></div>
                        <div class = "box-text">
                            <div class = "price" >$1.558,08</div>
                        </div>
                        <div>
                            <div class = "description">Camiseta con capucha negra</div>
                            <p class = "box-button-save">
                                <a href="/shopping">
                                    <input class = "button-save" type="button" value="Agregar al carrito">
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </article>
            <article>
                <div class = "article">
                    <img class = "img" src = "/img/30.jpg" alt = ""/>
                    <br>
                    <div class = line>
                        <div class = "shipping"><i class="fas fa-truck"></i></div>
                        <div class = "box-text">
                            <div class = "price" >$1.558,08</div>
                        </div>
                        <div>
                            <div class = "description">Camiseta con capucha negra</div>
                            <p class = "box-button-save">
                                <a href="/shopping">
                                    <input class = "button-save" type="button" value="Agregar al carrito">
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </article>
            <article>
                <div class = "article">
                    <img class = "img" src = "/img/.jpg" alt = ""/>
                    <br>
                    <div class = line>
                        <div class = "shipping"><i class="fas fa-truck"></i></div>
                        <div class = "box-text">
                            <div class = "price" >$1.558,08</div>
                        </div>
                        <div>
                            <div class = "description">Camiseta con capucha negra</div>
                            <p class = "box-button-save">
                                <a href="/shopping">
                                    <input class = "button-save" type="button" value="Agregar al carrito">
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </article>
        </section>
    </main>
    <%- include ( '../partials/footer' ) -%>
</body>
</html>