<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') -%> 
        <link rel="stylesheet" href="/css/productDetail.css">
        <title>Detalle del Producto</title>
</head>

<body>
    <div>
        <%- include('../partials/header') %>
    </div>

    <main>
        <section class = "general-box">
            <!-- ****Fotos de respaldo a la izquierda****
            <section class = "picture">
                    aca voy a poner las fotos del producto a la izquierda
                    <div>
                        <img id = "p1" class = "pic" src="/img/p1.jpg" width = "120px" height = "160px" alt="la parte trasera de la campera manga corta"/>
                    </div>
                    <div>
                        <img id = "p2" class = "pic" src="/img/p2.jpg" width = "120px" height = "160px" alt="capucha de la campera"/>
                    </div>
                    <div>
                        <img id = "p3" class = "pic" src="/img/p3.jpg" width = "120px" height = "160px" alt="manga de la campera"/>
                    </div>
                    <div>
                        <img id = "p4" class = "pic" src="/img/p4.jpg" width = "120px" height = "160px" alt="una muestra de tela naranja con la que se hizo la campera"/>
                    </div>
            </section> -->
            <% information.forEach(product => { %> 
        
        <div class = "container">
                <div class="principalPicture">
                    <!--aca va la foto principal-->
                    <img class="img-principalPicture" src="/img/<%= product.image[i] %>" alt="" />
                </div>
            </div>

            <div class="detail">
                <article>
                    <div class = "category">
                        Hombre/Mujer>
                        Categoría
                    </div>
                    <div class="name">
                        <!--nombre del producto-->
                        Camiseta con capucha
                    </div>
                    <div class="description">
                        Manga corta con cordón de color sólido básico para hombre.
                        Materiales: Algodón, Poliester
                    </div>
                    <div class="price">
                        <!--precio-->
                        AR$1.558
                    </div>
                </article>

                <article>
                    <div class="colorModel">
                        <!--colores y modelos disponibles-->
                        Modelos disponibles
                    </div>
                    <div class="model">
                        <!--una pequeña imagen de el modelo de color (voy a probar con forma circular)-->
                        <div>
                            <img id = "m1" class = "mod" src="/img/t-shirt.orange.jpg" width = "80px" height = "110px" alt="campera manga corta naranja"/>
                        </div>
                        <div>
                            <img id = "m2" class = "mod" src="/img/t-shirt.skyblue.jpg" width = "80px" height = "110px" alt="campera manga corta celeste"/>
                        </div>
                        <div>
                            <img id = "m3" class = "mod" src="/img/t-shirt.white.jpg" width = "80px" height = "110px" alt="campera manga corta blanca"/>
                        </div>
                        <div>
                            <img id = "m4" class = "mod" src="/img/t-shirt.black.jpg" width = "80px" height = "110px" alt="campera manga corta negra"/>
                        </div>
                    </div>
                </article>

                <article>
                    <div class = "measures">
                        <!--talles-->
                        Talles
                    </div>
                    <div class="size">
                        <div id="xs" class="siz">XS</div>
                        <div id="s" class="siz">S</div>
                        <div id="m" class="siz">M</div>
                        <div id="l" class="siz">L</div>
                        <div id="xl" class="siz">XL</div>
                    </div>
                </article>
                <% }); %>
                <div class = "article-action">
                    <article>
                        <div class="buy">
                            <!--boton de comprar te lleva al carrito de compras y agrega el producto-->
                            Comprar
                        </div>
                    </article>

                    <article class="action">
                        <div class="saveCart">
                            <div>
                                <!--imagen del carrito-->
                                <i id="cart" class="fas fa-cart-plus"></i>
                            </div>
                            <div class="save">
                                <!--agregar al carrito-->
                                Agregar al carrito
                            </div>
                        </div>
                        <div>
                            <!--flecha-->
                        </div>
                        <div class="follow">
                            <!--compartir-->
                            Compartir
                        </div>
                    </article>
                </div>
                <div>
                    <form action="/products/:idProducts?_method=DELETE" method="POST">
                        <button type="reset" class="button-delete">Eliminar</button>
                    </form>
                    <form action="">
                        <button type="submit">Editar</button>
                    </form>
                </div>
            </div>
        </section>
    </main>

    <div>
        <%- include ('../partials/footer') -%>
    </div>
</body>

</html>