<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') -%> 
    <link rel="stylesheet" href="/css/productList.css">
    <title>Lista de Productos</title>
</head>

<body>
    <div>
        <%- include('../partials/header') %>
    </div>
    
    <main>
        <section class = "section">
            <article>
                <div class = "article">
                    <img class = "img" src = "/img/t-shirt.black.jpg" alt = ""/>
                    <br>
                    <div class = line>
                        <div class = "shipping"><i class="fas fa-truck"></i></div>
                        <div class = "box-text">
                            <div class = "price" >$1.558</div>
                        </div>
                        <div class = "description">Camiseta con capucha negra</div>
                        <div>
                            <p class = "box-button-save">
                                <a href="/shopping">
                                    <input class = "button-save" type="button" value="Agregar al carrito">
                                </a>
                                <!--
                                <form action="/products/:idProducts?_method=DELETE" method="POST">
                                <button type="reset">Eliminar</button>
                                </form>
                                -->
                            </p>
                        </div>
                    </div>
                </div>
            </article>
            <article>
                <div class = "article">
                    <img class = "img" src = "/img/t-shirt.orange.jpg" alt = ""/>
                    <br>
                    <div class = line>
                        <div class = "shipping"><i class="fas fa-truck"></i></div>
                        <div class = "box-text">
                            <div class = "price" >$1.558</div>
                        </div>
                        <div>
                            <div class = "description">Camiseta con capucha naranja</div>
                            <p class = "box-button-save">
                                <a href="/shopping">
                                    <input class = "button-save" type="button" value="Agregar al carrito">
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </article>
            <article>
                <div class = "article">
                    <img class = "img" src = "/img/t-shirt.skyblue.jpg" alt = ""/>
                    <br>
                    <div class = line>
                        <div class = "shipping"><i class="fas fa-truck"></i></div>
                        <div class = "box-text">
                            <div class = "price" >$1.558</div>
                        </div>
                        <div>
                            <div class = "description">Camiseta con capucha celeste</div>
                            <p class = "box-button-save">
                                <a href="/shopping">
                                    <input class = "button-save" type="button" value="Agregar al carrito">
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </article>
            <article>
                <div class = "article">
                    <img class = "img" src = "/img/t-shirt.white.jpg" alt = ""/>
                    <br>
                    <div class = line>
                        <div class = "shipping"><i class="fas fa-truck"></i></div>
                        <div class = "box-text">
                            <div class = "price" >$1.558</div>
                        </div>
                        <div>
                            <div class = "description">Camiseta con capucha blanca</div>
                            <p class = "box-button-save">
                                <a href="/shopping">
                                    <input class = "button-save" type="button" value="Agregar al carrito">
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </article>
            <article>
                <div class = "article">
                    <img class = "img" src = "/img/16.jpg" alt = ""/>
                    <br>
                    <div class = line>
                        <div class = "shipping"><i class="fas fa-truck"></i></div>
                        <div class = "box-text">
                            <div class = "price" >$2.349</div>
                        </div>
                        <div>
                            <div class = "description">Buzo abrigado de invierno</div>
                            <p class = "box-button-save">
                                <a href="/shopping">
                                    <input class = "button-save" type="button" value="Agregar al carrito">
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </article>
            <article>
                <div class = "article">
                    <img class = "img" src = "/img/20.jpg" alt = ""/>
                    <br>
                    <div class = line>
                        <div class = "shipping"><i class="fas fa-truck"></i></div>
                        <div class = "box-text">
                            <div class = "price" >$2.799</div>
                        </div>
                        <div>
                            <div class = "description">Campera floreada de neoprene</div>
                            <p class = "box-button-save">
                                <a href="/shopping">
                                    <input class = "button-save" type="button" value="Agregar al carrito">
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </article>
            <article>
                <div class = "article">
                    <img class = "img" src = "/img/23.jpg" alt = ""/>
                    <br>
                    <div class = line>
                        <div class = "shipping"><i class="fas fa-truck"></i></div>
                        <div class = "box-text">
                            <div class = "price" >$2.599</div>
                        </div>
                        <div>
                            <div class = "description">Campera de neoprene gris</div>
                            <p class = "box-button-save">
                                <a href="/shopping">
                                    <input class = "button-save" type="button" value="Agregar al carrito">
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </article>
            <article>
                <div class = "article">
                    <img class = "img" src = "/img/28.jpg" alt = ""/>
                    <br>
                    <div class = line>
                        <div class = "shipping"><i class="fas fa-truck"></i></div>
                        <div class = "box-text">
                            <div class = "price" >$3.299</div>
                        </div>
                        <div>
                            <div class = "description">Campera NIKE rompeviento</div>
                            <p class = "box-button-save">
                                <a href="/shopping">
                                    <input class = "button-save" type="button" value="Agregar al carrito">
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </article>
            <article>
                <div class = "article">
                    <img class = "img" src = "/img/17.jpg" alt = ""/>
                    <br>
                    <div class = line>
                        <div class = "shipping"><i class="fas fa-truck"></i></div>
                        <div class = "box-text">
                            <div class = "price" >$2.349</div>
                        </div>
                        <div>
                            <div class = "description">Buzo abrigado de invierno terra</div>
                            <p class = "box-button-save">
                                <a href="/shopping">
                                    <input class = "button-save" type="button" value="Agregar al carrito">
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </article>
            <article>
                <div class = "article">
                    <img class = "img" src = "/img/18.jpg" alt = ""/>
                    <br>
                    <div class = line>
                        <div class = "shipping"><i class="fas fa-truck"></i></div>
                        <div class = "box-text">
                            <div class = "price" >$2.349</div>
                        </div>
                        <div>
                            <div class = "description">Buzo abrigado de invierno grey</div>
                            <p class = "box-button-save">
                                <a href="/shopping">
                                    <input class = "button-save" type="button" value="Agregar al carrito">
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </article>
            <article>
                <div class = "article">
                    <img class = "img" src = "/img/21.jpg" alt = ""/>
                    <br>
                    <div class = line>
                        <div class = "shipping"><i class="fas fa-truck"></i></div>
                        <div class = "box-text">
                            <div class = "price" >$2.349</div>
                        </div>
                        <div>
                            <div class = "description">Buzo abrigado de invierno red</div>
                            <p class = "box-button-save">
                                <a href="/shopping">
                                    <input class = "button-save" type="button" value="Agregar al carrito">
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </article>
            <article>
                <div class = "article">
                    <img class = "img" src = "/img/11.jpg" alt = ""/>
                    <br>
                    <div class = line>
                        <div class = "shipping"><i class="fas fa-truck"></i></div>
                        <div class = "box-text">
                            <div class = "price" >$2.449,99</div>
                        </div>
                        <div>
                            <div class = "description">Campera de neoprene ocean</div>
                            <p class = "box-button-save">
                                <a href="/shopping">
                                    <input class = "button-save" type="button" value="Agregar al carrito">
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </article>
            <article>
                <div class = "article">
                    <img class = "img" src = "/img/19.jpg" alt = ""/>
                    <br>
                    <div class = line>
                        <div class = "shipping"><i class="fas fa-truck"></i></div>
                        <div class = "box-text">
                            <div class = "price" >$1.999</div>
                        </div>
                        <div>
                            <div class = "description">Campera de neoprene gris</div>
                            <p class = "box-button-save">
                                <a href="/shopping">
                                    <input class = "button-save" type="button" value="Agregar al carrito">
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </article>
            <article>
                <div class = "article">
                    <img class = "img" src = "/img/4.jpg" alt = ""/>
                    <br>
                    <div class = line>
                        <div class = "shipping"><i class="fas fa-truck"></i></div>
                        <div class = "box-text">
                            <div class = "price" >$10.499</div>
                        </div>
                        <div>
                            <div class = "description">Zapatillas deportivas</div>
                            <p class = "box-button-save">
                                <a href="/shopping">
                                    <input class = "button-save" type="button" value="Agregar al carrito">
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </article>
            <article>
                <div class = "article">
                    <img class = "img" src = "/img/10.jpg" alt = ""/>
                    <br>
                    <div class = line>
                        <div class = "shipping"><i class="fas fa-truck"></i></div>
                        <div class = "box-text">
                            <div class = "price" >$4.799</div>
                        </div>
                        <div>
                            <div class = "description">Conjunto deportivo JORDAN</div>
                            <p class = "box-button-save">
                                <a href="/shopping">
                                    <input class = "button-save" type="button" value="Agregar al carrito">
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </article>
            <article>
                <div class = "article">
                    <img class = "img" src = "/img/Chamarra.jpg" alt = ""/>
                    <br>
                    <div class = line>
                        <div class = "shipping"><i class="fas fa-truck"></i></div>
                        <div class = "box-text">
                            <div class = "price" >$1.599</div>
                        </div>
                        <div>
                            <div class = "description">Campera de neoprene de mangas negras</div>
                            <p class = "box-button-save">
                                <a href="/shopping">
                                    <input class = "button-save" type="button" value="Agregar al carrito">
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </article>
            <article>
                <div class = "article">
                    <img class = "img" src = "/img/13.jpg" alt = ""/>
                    <br>
                    <div class = line>
                        <div class = "shipping"><i class="fas fa-truck"></i></div>
                        <div class = "box-text">
                            <div class = "price" >$1.899</div>
                        </div>
                        <div>
                            <div class = "description">Calza deportiva negra</div>
                            <p class = "box-button-save">
                                <a href="/shopping">
                                    <input class = "button-save" type="button" value="Agregar al carrito">
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </article>
            <article>
                <div class = "article">
                    <img class = "img" src = "/img/2.jpg" alt = ""/>
                    <br>
                    <div class = line>
                        <div class = "shipping"><i class="fas fa-truck"></i></div>
                        <div class = "box-text">
                            <div class = "price" >$1.899</div>
                        </div>
                        <div>
                            <div class = "description">Calza deportiva verde oscuro</div>
                            <p class = "box-button-save">
                                <a href="/shopping">
                                    <input class = "button-save" type="button" value="Agregar al carrito">
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </article>
            <article>
                <div class = "article">
                    <img class = "img" src = "/img/27.jpg" alt = ""/>
                    <br>
                    <div class = line>
                        <div class = "shipping"><i class="fas fa-truck"></i></div>
                        <div class = "box-text">
                            <div class = "price" >$1.768</div>
                        </div>
                        <div>
                            <div class = "description">Jogging negro</div>
                            <p class = "box-button-save">
                                <a href="/shopping">
                                    <input class = "button-save" type="button" value="Agregar al carrito">
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </article>
            <article>
                <div class = "article">
                    <img class = "img" src = "/img/26.jpg" alt = ""/>
                    <br>
                    <div class = line>
                        <div class = "shipping"><i class="fas fa-truck"></i></div>
                        <div class = "box-text">
                            <div class = "price" >$1.768</div>
                        </div>
                        <div>
                            <div class = "description">Jogging gris</div>
                            <p class = "box-button-save">
                                <a href="/shopping">
                                    <input class = "button-save" type="button" value="Agregar al carrito">
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </article>
            <article>
                <div class = "article">
                    <img class = "img" src = "/img/25.jpg" alt = ""/>
                    <br>
                    <div class = line>
                        <div class = "shipping"><i class="fas fa-truck"></i></div>
                        <div class = "box-text">
                            <div class = "price" >$1.768</div>
                        </div>
                        <div>
                            <div class = "description">Jogging verde oscuro</div>
                            <p class = "box-button-save">
                                <a href="/shopping">
                                    <input class = "button-save" type="button" value="Agregar al carrito">
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </article>
            <article>
                <div class = "article">
                    <img class = "img" src = "/img/5.jpg" alt = ""/>
                    <br>
                    <div class = line>
                        <div class = "shipping"><i class="fas fa-truck"></i></div>
                        <div class = "box-text">
                            <div class = "price" >$9.899</div>
                        </div>
                        <div>
                            <div class = "description">Zapatillas deporivas blancas</div>
                            <p class = "box-button-save">
                                <a href="/shopping">
                                    <input class = "button-save" type="button" value="Agregar al carrito">
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </article>
            <article>
                <div class = "article">
                    <img class = "img" src = "/img/remera-mujer.jpg" alt = ""/>
                    <br>
                    <div class = line>
                        <div class = "shipping"><i class="fas fa-truck"></i></div>
                        <div class = "box-text">
                            <div class = "price" >$999</div>
                        </div>
                        <div>
                            <div class = "description">Remera negra para entrenar</div>
                            <p class = "box-button-save">
                                <a href="/shopping">
                                    <input class = "button-save" type="button" value="Agregar al carrito">
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </article>
            <article>
                <div class = "article">
                    <img class = "img" src = "/img/14.jpg" alt = ""/>
                    <br>
                    <div class = line>
                        <div class = "shipping"><i class="fas fa-truck"></i></div>
                        <div class = "box-text">
                            <div class = "price" >$3.899</div>
                        </div>
                        <div>
                            <div class = "description">Conjunto deportivo PUMA, calza + top</div>
                            <p class = "box-button-save">
                                <a href="/shopping">
                                    <input class = "button-save" type="button" value="Agregar al carrito">
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </article>
            <article>
                <div class = "article">
                    <img class = "img" src = "/img/15.jpg" alt = ""/>
                    <br>
                    <div class = line>
                        <div class = "shipping"><i class="fas fa-truck"></i></div>
                        <div class = "box-text">
                            <div class = "price" >$4.099</div>
                        </div>
                        <div>
                            <div class = "description">Conjunto deportivo, campera + pantalón</div>
                            <p class = "box-button-save">
                                <a href="/shopping">
                                    <input class = "button-save" type="button" value="Agregar al carrito">
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </article>
            <article>
                <div class = "article">
                    <img class = "img" src = "/img/24.jpg" alt = ""/>
                    <br>
                    <div class = line>
                        <div class = "shipping"><i class="fas fa-truck"></i></div>
                        <div class = "box-text">
                            <div class = "price" >$2.658</div>
                        </div>
                        <div>
                            <div class = "description">Pantalon largo</div>
                            <p class = "box-button-save">
                                <a href="/shopping">
                                    <input class = "button-save" type="button" value="Agregar al carrito">
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </article>
            <article>
                <div class = "article">
                    <img class = "img" src = "/img/3.jpg" alt = ""/>
                    <br>
                    <div class = line>
                        <div class = "shipping"><i class="fas fa-truck"></i></div>
                        <div class = "box-text">
                            <div class = "price" >$3.299</div>
                        </div>
                        <div>
                            <div class = "description">Buzo ocean</div>
                            <p class = "box-button-save">
                                <a href="/shopping">
                                    <input class = "button-save" type="button" value="Agregar al carrito">
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </article>
            <article>
                <div class = "article">
                    <img class = "img" src = "/img/29.jpg" alt = ""/>
                    <br>
                    <div class = line>
                        <div class = "shipping"><i class="fas fa-truck"></i></div>
                        <div class = "box-text">
                            <div class = "price" >$1.870</div>
                        </div>
                        <div>
                            <div class = "description">Campera old school</div>
                            <p class = "box-button-save">
                                <a href="/shopping">
                                    <input class = "button-save" type="button" value="Agregar al carrito">
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </article>
            <article>
                <div class = "article">
                    <img class = "img" src = "/img/6.jpg" alt = ""/>
                    <br>
                    <div class = line>
                        <div class = "shipping"><i class="fas fa-truck"></i></div>
                        <div class = "box-text">
                            <div class = "price" >$1.199</div>
                        </div>
                        <div>
                            <div class = "description">Tops NIKE</div>
                            <p class = "box-button-save">
                                <a href="/shopping">
                                    <input class = "button-save" type="button" value="Agregar al carrito">
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </article>
            <article>
                <div class = "article">
                    <img class = "img" src = "/img/31.jpg" alt = ""/>
                    <br>
                    <div class = line>
                        <div class = "shipping"><i class="fas fa-truck"></i></div>
                        <div class = "box-text">
                            <div class = "price" >$5.499</div>
                        </div>
                        <div>
                            <div class = "description">Campera rompeviento gris y rosa</div>
                            <p class = "box-button-save">
                                <a href="/shopping">
                                    <input class = "button-save" type="button" value="Agregar al carrito">
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </article>
            <article>
                <div class = "article">
                    <img class = "img" src = "/img/8.jpg" alt = ""/>
                    <br>
                    <div class = line>
                        <div class = "shipping"><i class="fas fa-truck"></i></div>
                        <div class = "box-text">
                            <div class = "price" >$11.499</div>
                        </div>
                        <div>
                            <div class = "description">Kit -Blue- para comenzar tu entrenamiento!</div>
                            <p class = "box-button-save">
                                <a href="/shopping">
                                    <input class = "button-save" type="button" value="Agregar al carrito">
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </article>
            <article>
                <div class = "article">
                    <img class = "img" src = "/img/remera-hombre.jpg" alt = ""/>
                    <br>
                    <div class = line>
                        <div class = "shipping"><i class="fas fa-truck"></i></div>
                        <div class = "box-text">
                            <div class = "price" >$1.099</div>
                        </div>
                        <div>
                            <div class = "description">Remera deportiva negra</div>
                            <p class = "box-button-save">
                                <a href="/shopping">
                                    <input class = "button-save" type="button" value="Agregar al carrito">
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </article>
            <article>
                <div class = "article">
                    <img class = "img" src = "/img/1.jpg" alt = ""/>
                    <br>
                    <div class = line>
                        <div class = "shipping"><i class="fas fa-truck"></i></div>
                        <div class = "box-text">
                            <div class = "price" >$11.499</div>
                        </div>
                        <div>
                            <div class = "description">Kit -Black- para comenzar tu entrenamiento!</div>
                            <p class = "box-button-save">
                                <a href="/shopping">
                                    <input class = "button-save" type="button" value="Agregar al carrito">
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </article>
            <article>
                <div class = "article">
                    <img class = "img" src = "/img/9.jpg" alt = ""/>
                    <br>
                    <div class = line>
                        <div class = "shipping"><i class="fas fa-truck"></i></div>
                        <div class = "box-text">
                            <div class = "price" >$11.499</div>
                        </div>
                        <div>
                            <div class = "description">Kit -Green- para comenzar tu entrenamiento!</div>
                            <p class = "box-button-save">
                                <a href="/shopping">
                                    <input class = "button-save" type="button" value="Agregar al carrito">
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </article>
        </section>
    </main>

    <div>
        <%- include ( '../partials/footer' ) -%>
    </div>
</body>
</html>