<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./partials/head") %>
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
        <link rel="stylesheet" href="/css/index.css">
        <title>Shark Style</title>
</head>

<body>
      <%- include("./partials/header") %>
    
      <!-- 
        <main>
        <section>
            <article>
                <u>
                    <div id="a">
                        <li class="element1"><img src="/img/products/10.jpg" alt=""></li>
                    </div>
                    <div id="b">   
                        <li class="element1"><img src="/img/products/14.jpg" alt=""></li>
                    </div>
                </u>
            </article>
            <article>
                <ul>
                    <li><a href="#a"> atras </a></li>
                    <li><a href="#b"> adelante </a></li>
                </ul>
            </article>
        </section>
        --
            <a href="/products/">
                <h1 class="toBuy"> </h1>
            </a>
            <-- SLIDER BANNER --
            <section class="image-session-two">
                <div class="container-of-banner">
                    <ul class="sub-element-conteiner">
                        <li id="1" class="lili">
                            <div class="contents">
                                <img src="/img/relevant-images/adidas_banner_1.jpg" alt="Buzo shark style"
                                    class="imagesCarrousel">
                            </div>
                        </li>
                        <li id="2">
                            <div class="contents">
                                <img src="/img/relevant-images/el-banner.jpg" alt="campera deportiva"
                                    class="imagesCarrousel">
                            </div>
                        </li>
                    </ul>
                    <ul class="command-of-menu">
                        <li>
                            <a href="#1"></a>
                        </li>
                        <li>
                            <a href="#2"></a>
                        </li>
                    </ul>
                </div>
            </section>
            <- FIN DEL SLIDER BANNER --
            <div>
                <img src="/img/relevant-images/banner_Generico_Hombre.jpg" alt="banner de hombre" class="banner-men">
            </div>
            <-- COMIENZO DEL CAROUSEL --
            <section class="conteinerOfCarousel">
                <div class="Carousel">
                    <h2>Hombres</h2>
                    <div class="slick-list" id="slick-list">
                        <button class="slick-arrow slick-prev" id="button-prev" data-button="button-prev"
                            onclick="app.processingButton(event)">
                            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-left"
                                class="svg-inline--fa fa-chevron-left fa-w-10" role="img"
                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
                                <path fill="currentColor"
                                    d="M34.52 239.03L228.87 44.69c9.37-9.37 24.57-9.37 33.94 0l22.67 22.67c9.36 9.36 9.37 24.52.04 33.9L131.49 256l154.02 154.75c9.34 9.38 9.32 24.54-.04 33.9l-22.67 22.67c-9.37 9.37-24.57 9.37-33.94 0L34.52 272.97c-9.37-9.37-9.37-24.57 0-33.94z">
                                </path>
                            </svg>
                        </button>

                        <div class="slick-track" id="track">
                            <div class="slick">
                                <div>
                                    <a href="/">
                                        <picture>
                                            <img src="../img/products/10.jpg" alt="Image">
                                        </picture>
                                    </a>
                                </div>
                                <div class="conteinerOfText">
                                    <h3>$4.499</h3>
                                    <h5>Reebok Graphic Essential Run</h5>
                                </div>
                            </div>
                            <div class="slick">
                                <div>
                                    <a href="/">
                                        <picture>
                                            <img src="../img/products/13.jpg" alt="Image">
                                        </picture>
                                    </a>
                                </div>
                                <div class="conteinerOfText">
                                    <h3>$6.499
                                    </h3>
                                    <h5>Run lt Space Race Black
                                    </h5>
                                </div>
                            </div>
                            <div class="slick">
                                <div>
                                    <a href="/">
                                        <picture>
                                            <img src="../img/products/15.jpg" alt="Image">
                                        </picture>
                                    </a>
                                </div>
                                <div class="conteinerOfText">
                                    <h3>$4.499</h3>
                                    <h5>Remera Adidas Estampada Athletics</h5>
                                </div>
                            </div>
                            <div class="slick">
                                <div>
                                    <a href="/">
                                        <picture>
                                            <img src="../img/products/17.jpg" alt="Image">
                                        </picture>
                                    </a>
                                </div>
                                <div class="conteinerOfText">
                                    <h3>$6.499
                                    </h3>
                                    <h5>Run lt Space Race
                                    </h5>
                                </div>
                            </div>
                            <div class="slick">
                                <div>
                                    <a href="/">
                                        <picture>
                                            <img src="../img/products/19.jpg" alt="Image">
                                        </picture>
                                    </a>
                                </div>
                                <div class="conteinerOfText">
                                    <h3>
                                        $3.299
                                    </h3>
                                    <h5>
                                        Adidas Aeroready Designed To Move
                                    </h5>
                                </div>
                            </div>
                            <div class="slick">
                                <div>
                                    <a href="/">
                                        <picture>
                                            <img src="../img/products/21.jpg" alt="Image">
                                        </picture>
                                    </a>
                                </div>
                                <div class="conteinerOfText">
                                    <h3>$6.499</h3>

                                    <h5>Nike Court Dri Fit Victory
                                    </h5>
                                </div>
                            </div>
                            <div class="slick">
                                <div>
                                    <a href="/">
                                        <picture>
                                            <img src="../img/products/24.jpg" alt="Image">
                                        </picture>
                                    </a>
                                </div>
                                <div class="conteinerOfText">
                                    <h3>$2.299</h3>
                                    <h5>Remera Topper Brand Gtm Mc de hombre</h5>
                                </div>
                            </div>
                            <div class="slick">
                                <div>
                                    <a href="/">
                                        <picture>
                                            <img src="../img/products/adidas0-1.jpg" alt="Image">
                                        </picture>
                                    </a>
                                </div>
                                <div class="conteinerOfText">
                                    <h3>$5.999</h3>
                                    <h5>Adidas Continent Camo City</h5>
                                </div>
                            </div>
                            <div class="slick">
                                <div>
                                    <a href="/">
                                        <picture>
                                            <img src="../img/products/4DD6906-100-1.jpg" alt="Image">
                                        </picture>
                                    </a>
                                </div>
                                <div class="conteinerOfText">
                                    <h3>$4.799</h3>
                                    <h5>Remera Nike Dri Fit de Hombre</h5>
                                </div>
                            </div>
                            <div class="slick">
                                <div>
                                    <a href="/">
                                        <picture>
                                            <img src="../img/products/2164510-000-1.jpg" alt="Image">
                                        </picture>
                                    </a>
                                </div>
                                <div class="conteinerOfText">
                                    <h3>$2.259</h3>
                                    <h5>Topper Gtm Mc Break de hombre</h5>
                                </div>
                            </div>
                            <div class="slick">
                                <div>
                                    <a href="/">
                                        <picture>
                                            <img src="../img/products/7GS9072-000-4.jpg" alt="Image">
                                        </picture>
                                    </a>
                                </div>
                                <div class="conteinerOfText">
                                    <h3>$4.499</h3>
                                    <h5>Reebok Wor AOP de Hombre</h5>
                                </div>
                            </div>
                            <div class="slick">
                                <div>
                                    <a href="/">
                                        <picture>
                                            <img src="../img/products/9505827-577-1.jpg" alt="Image">
                                        </picture>
                                    </a>
                                </div>
                                <div class="conteinerOfText">
                                    <h3>$2.890</h3>
                                    <h5>Fila Sport Pass de Hombre</h5>
                                </div>
                            </div>

                        </div>
                        <button class="slick-arrow slick-next" id="button-next" data-button="button-next"
                            onclick="app.processingButton(event)">
                            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-right"
                                class="svg-inline--fa fa-chevron-right fa-w-10" role="img"
                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
                                <path fill="currentColor"
                                    d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z">
                                </path>
                            </svg>
                        </button>
                    </div>
                </div>
            </section>
            <--  FIN DEL CAROUSEL --
            <div>
                <img src="/img/relevant-images/banner_Generico_Mujer.jpg" alt="banner de mujer" class="banner-girl">
            </div>
            <section class="conteinerOfCarouseltwo">
                <div class="Carousel">
                    <h2>Mujeres</h2>
                    <div class="slick-list" id="slick-list">
                        <button class="slick-arrow slick-prev" id="button-prev" data-button="button-prev"
                            onclick="app.processingButton(event)">
                            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-left"
                                class="svg-inline--fa fa-chevron-left fa-w-10" role="img"
                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
                                <path fill="currentColor"
                                    d="M34.52 239.03L228.87 44.69c9.37-9.37 24.57-9.37 33.94 0l22.67 22.67c9.36 9.36 9.37 24.52.04 33.9L131.49 256l154.02 154.75c9.34 9.38 9.32 24.54-.04 33.9l-22.67 22.67c-9.37 9.37-24.57 9.37-33.94 0L34.52 272.97c-9.37-9.37-9.37-24.57 0-33.94z">
                                </path>
                            </svg>
                        </button>

                        <div class="slick-track" id="track">
                            <div class="slick">
                                <div>
                                    <a href="/">
                                        <picture>
                                            <img src="../img/products/42.jpg" alt="Image">
                                        </picture>
                                    </a>
                                </div>
                                <div class="conteinerOfText">
                                    <h3>$2.699</h3>
                                    <h5>Pantalon Atlét Sweat de Mujer</h5>
                                </div>
                            </div>
                            <div class="slick">
                                <div>
                                    <a href="/">
                                        <picture>
                                            <img src="../img/products/45.jpg" alt="Image">
                                        </picture>
                                    </a>
                                </div>
                                <div class="conteinerOfText">
                                    <h3>$5.950</h3>
                                    <h5>Pantalon Fila Jooger Loop de Mujer</h5>
                                </div>
                            </div>
                            <div class="slick">
                                <div>
                                    <a href="/">
                                        <picture>
                                            <img src="../img/products/27.jpg" alt="Image">
                                        </picture>
                                    </a>
                                </div>
                                <div class="conteinerOfText">
                                    <h3>$2.299</h3>
                                    <h5>Adidas Aeroready Designed To Move</h5>
                                </div>
                            </div>
                            <div class="slick">
                                <div>
                                    <a href="/">
                                        <picture>
                                            <img src="../img/products/50.jpg" alt="Image">
                                        </picture>
                                    </a>
                                </div>
                                <div class="conteinerOfText">
                                    <h3>$9.999</h3>
                                    <h5>Nike Bliss Victory de Mujer</h5>
                                </div>
                            </div>
                            <div class="slick">
                                <div>
                                    <a href="/">
                                        <picture>
                                            <img src="../img/products/52.jpg" alt="Image">
                                        </picture>
                                    </a>
                                </div>
                                <div class="conteinerOfText">
                                    <h3>$6.899</h3>
                                    <h5>Puma Essential Fz Hoody de Mujer</h5>
                                </div>
                            </div>
                            <div class="slick">
                                <div>
                                    <a href="/">
                                        <picture>
                                            <img src="../img/products/55.jpg" alt="Image">
                                        </picture>
                                    </a>
                                </div>
                                <div class="conteinerOfText">
                                    <h3>$6.090</h3>
                                    <h5>Campera Fila Mesh trek de Mujer</h5>
                                </div>
                            </div>
                            <div class="slick">
                                <div>
                                    <a href="/">
                                        <picture>
                                            <img src="../img/products/33.jpg" alt="Image">
                                        </picture>
                                    </a>
                                </div>
                                <div class="conteinerOfText">
                                    <h3>$4.899</h3>
                                    <h5>Adidas Selección Argentina</h5>
                                </div>
                            </div>
                            <div class="slick">
                                <div>
                                    <a href="/">
                                        <picture>
                                            <img src="../img/products/59.jpg" alt="Image">
                                        </picture>
                                    </a>
                                </div>
                                <div class="conteinerOfText">
                                    <h3>$8.190</h3>
                                    <h5>Campera Fila Windbreak de Mujer</h5>
                                </div>
                            </div>
                            <div class="slick">
                                <div>
                                    <a href="/">
                                        <picture>
                                            <img src="../img/products/argentina-1.jpg" alt="Image">
                                        </picture>
                                    </a>
                                </div>
                                <div class="conteinerOfText">
                                    <h3>$6.199</h3>
                                    <h5>Adidas Selección Argentina</h5>
                                </div>
                            </div>
                            <div class="slick">
                                <div>
                                    <a href="/">
                                        <picture>
                                            <img src="../img/products/river000-1.jpg" alt="Image">
                                        </picture>
                                    </a>
                                </div>
                                <div class="conteinerOfText">
                                    <h3>$4.899</h3>
                                    <h5>Adidas Camiseta de River Plate</h5>
                                </div>
                            </div>
                            <div class="slick">
                                <div>
                                    <a href="/">
                                        <picture>
                                            <img src="../img/products/30.jpg" alt="Image">
                                        </picture>
                                    </a>
                                </div>
                                <div class="conteinerOfText">
                                    <h3>$1.999</h3>
                                    <h5>Fila Salem Camuflada</h5>
                                </div>
                            </div>
                            <div class="slick">
                                <div>
                                    <a href="/">
                                        <picture>
                                            <img src="../img/products/40.jpg" alt="Image">
                                        </picture>
                                    </a>
                                </div>
                                <div class="conteinerOfText">
                                    <h3>$2.399</h3>
                                    <h5>Remera Puma Alpha</h5>
                                </div>
                            </div>
                            <div class="slick">
                                <div>
                                    <a href="/">
                                        <picture>
                                            <img src="../img/products/35.jpg" alt="Image">
                                        </picture>
                                    </a>
                                </div>
                                <div class="conteinerOfText">
                                    <h3>$4.899</h3>
                                    <h5>Adidas Selección Argentina</h5>
                                </div>
                            </div>

                        </div>
                        <button class="slick-arrow slick-next" id="button-next" data-button="button-next"
                            onclick="app.processingButton(event)">
                            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-right"
                                class="svg-inline--fa fa-chevron-right fa-w-10" role="img"
                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
                                <path fill="currentColor"
                                    d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z">
                                </path>
                            </svg>
                        </button>
                    </div>
                </div>
            </section>
            <section class="image-session-two">
                <div class="container-of-banner">
                    <ul class="sub-element-conteiner">
                        <li id="a1" class="lili">
                            <div class="contents">
                                <img src="/img/relevant-images/Fila-banner.jpg" alt="Buzo shark style"
                                    class="imagesCarrousel">
                            </div>
                        </li>
                        <li id="a2">
                            <div class="contents">
                                <img src="/img/relevant-images/full.jpg" alt="campera deportiva"
                                    class="imagesCarrousel">
                            </div>
                        </li>
                    </ul>
                    <ul class="command-of-menu">
                        <li>
                            <a href="#a1"></a>
                        </li>
                        <li>
                            <a href="#a2"></a>
                        </li>
                    </ul>
                </div>
            </section>
        </main>
 -->
        <div>
            <%- include('./partials/footer') %>
        </div>
        <script src="../js/index.js" text="text/javascript"></script><!-- 
        <script src="../js/main.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/js/splide.min.js"></script> -->
</body>

</html>