<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') -%>
        <link rel="stylesheet" href="/css/productCreate.css">
        <title>Creá un Nuevo Producto</title>
</head>

<body>
    <div>
        <%- include('../partials/header') %>
    </div>
    <main>
        <div class="create">
            <form class="create-form" action="/products/create" method="POST" enctype="multipart/form-data">
                <div class="box">
                    <p>
                        <label class="create-text">Nombre del producto</label>
                    </p>
                    <p>
                        <input class="create-input" type="text" name="name"></input>
                    </p>
                </div>
                <div class="box">
                    <p>
                        <label class="create-text">Descripción</label>
                    </p>
                    <p>
                        <input class="create-input" type="text" name="description"></input>
                    </p>
                </div>
                <div class="box">
                    <p>
                        <label class="create-text">Precio</label>
                    </p>
                    <p>
                        <input class="create-input" type="number" name="price"></input>
                    </p>
                </div>
                <div class="box">
                    <p>
                        <label class="create-text">Imagen del producto</label>
                    </p>
                    <p>
                        <input class="create-img" type="file" accept="image/*" name="image" id="image" multiple>
                    </p>
                </div>
                <div class="box">
                    <p>
                        <label class="create-text">Talles disponibles</label>
                    </p>
                    <p>
                        <select class="create-options" name="size">
                            <option type="checkbox" name="size-xs">XS</option>
                            <option type="checkbox" name="size-s">S</option>
                            <option type="checkbox" name="size-m">M</option>
                            <option type="checkbox" name="size-l">L</option>
                            <option type="checkbox" name="35-36">35-36</option>
                            <option type="checkbox" name="36-37">36-37</option>
                            <option type="checkbox" name="37-38">37-38</option>
                            <option type="checkbox" name="38-39">38-39</option>
                            <option type="checkbox" name="39-40">39-40</option>
                            <option type="checkbox" name="41-42">41-42</option>
                            <option type="checkbox" name="43-44">43-44</option>
                        </select>
                    </p>
                </div>
                <div class="box">
                    <p>
                        <label class="create-text">Modelos Disponibles</label>
                    </p>
                    <p>
                        <input class="create-input" type="text" name="models"></input>
                    </p>
                </div>
                <div class="box">
                    <p>
                        <label class="create-text">Género</label>
                    </p>
                    <p>
                        <select class="create-options" name="gender">
                            <option type="checkbox" name="gender-men">Hombre</option>
                            <option type="checkbox" name="gender-women">Mujer</option>
                            <option type="checkbox" name="gender-unisex">Unisex</option>
                        </select>
                    </p>
                </div>
                <div class="box">
                    <p>
                        <label class="create-text">Categoría</label>
                    </p>
                    <p>
                        <select class="create-options" name="category">
                            <option type="checkbox" name="category-long-tshirt">Remeras Manga Larga</option>
                            <option type="checkbox" name="category-short-tshirt">Remeras Manga Corta</option>
                            <option type="checkbox" name="category-sleeveless">Musculosas</option>
                            <option type="checkbox" name="category-long-pants">Pantalones Largos</option>
                            <option type="checkbox" name="category-short-pants">Shorts</option>
                            <option type="checkbox" name="category-sports-tights">Calzas Termicas</option>
                            <option type="checkbox" name="category-warm-jacket">Camperas de Abrigo</option>
                            <option type="checkbox" name="category-thermal-jacket">Camperas Termicas</option>
                            <option type="checkbox" name="category-divers">Buzos</option>
                            <option type="checkbox" name="category-sets">Conjuntos</option>
                            <option type="checkbox" name="category-socks">Medias</option>
                            <option type="checkbox" name="category-sports-shoes">Calzado Deportivo</option>
                        </select>
                    </p>
                </div>
                <div class="box-button">
                    <!-- ***No se como hacerlo funcionar de momento***
                        <p class="box-button-preview">
                        <a href="/productDetail">
                            <input id="button-preview" class="create-text" type="button" value="Previsualizar">
                        </a>
                    </p> -->
                    <p class="box-button-send">
                        <button id="button-send" type="submit" class="create-text">Crear</button>
                    </p>
                    <p class="box-button-delete">
                        <button id="button-delete" type="reset" class="create-text">Eliminar</button>
                    </p>
                </div>
            </form>
        </div>
    </main>
    <div>
        <%- include('../partials/footer') -%>
    </div>
</body>

</html>