<header class="container">
    <div class="cm1">
        <section class="main-container">
            <article class="articleOne">
                <div class="logo-text">
                    <img src="/img/logo-shoes.svg" alt="logo-shoes" class="img-logo">
                    <h3 class="logo-name">Shark Style</h3>
                </div>
                <form action="/products/searchProduct" method="POST" class="form-search">
                    <div class="search">
                        <button type="submit" class="button-search">
                            <span><i class="fas fa-search"></i></span>
                        </button>
                        <input class="search-main" type="search" name="search" id="search" placeholder="Buscar" />
                    </div>
                </form>
            </article>
            <article class="twoArticle">
                <!--
            <div class="">
                <a href=""><i class="fas fa-bars"></i></a>
            </div>
            <div class="">
                <a href=""><i class="fas fa-search"></i></a>
            </div> -->
                <% if (locals.isLogged) { %>
                    <% if ( locals.userToLogged.role==9 ) { %>
                        <div class="right_bar">
                            <h5>
                                <a href="/administration/products">admin</a>
                            </h5>
                        </div>
                        <% } %>
                            <article id="img" class="right_bar">
                                <div class="div-container002">
                                    <img src="/img/user_photo/<%= locals.userToLogged.Image? locals.userToLogged.Image[0].avatar : 'user_anonimo.jpg'%>"
                                        alt="imagen de usuario" width="40px" class="img">
                                    <h4 class="name-session">
                                        <%= locals.userToLogged.name %>
                                    </h4>
                                </div>
                                <ul class="dropdown">
                                    <li><a href="/users/destroy" class="a">Cerrar sesión</a></li>
                                    <li><a href="/users/profile/<%= locals.userToLogged.id %>" class="a">ver mi
                                            perfil</a></li>
                                </ul>
                            </article>
                            <% } else { %>
                                <div class="right_bar">
                                    <a href="/users/login">Iniciar sesion</a>
                                </div>
                                <div class="right_bar">
                                    <a href="/users/register">Registrate</i></a>
                                </div>
                                <% } %>
                                    <div class="right_bar">
                                        <a href="/shopping"><i class="fas fa-cart-plus"></i></a>
                                    </div>
            </article>
        </section>
    </div>
    <article class="container-navbar">
        <nav class="navbar">
            <ul>
                <li><a href="/" style="text-decoration: none;" class="options-navbar">Inicio</a></li>
                <li><a href="/products" style="text-decoration: none;" class="options-navbar">Productos</a></li>
                <li><a href="" style="text-decoration: none;" class="options-navbar">Hombres</a></li>
                <li><a href="" style="text-decoration: none;" class="options-navbar">Mujeres</a></li>
            </ul>
        </nav>
    </article>
</header>