<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') -%> 
    <link rel="stylesheet" href="/css/login.css">
    <title> Ingresá tu cuenta</title>
</head>

<body>
    <%- include('../partials/header') -%>
    <main>
        <div class="login-container">
            <div class="login-info-container">

                <form class="inputs-container">
                    <input class="input" type="email" placeholder="E-mail">
                    <input class="input" type="text" placeholder="Password">
                    
                    <button class="boton">login</button>
                    <span class="span">no tienes una cuenta?</span>
                    <span class="span">olvidaste tu contraseña?</span>
                </form>
                <p>or</p>
                <h1 class="title">Log in with</h1>
                <div class="redes-login">
                    <div class="redes-login-element">
                        <a
                            href="https://accounts.google.com/signin/v2/identifier?hl=es&passive=true&continue=https%3A%2F%2Fwww.google.com%2F&ec=GAZAmgQ&flowName=GlifWebSignIn&flowEntry=ServiceLogin">
                            <img src="img/google.svg" alt="google-image">
                        </a>
                    </div>
                    <div class="redes-login-element">
                        <a href="https://es-la.facebook.com/">
                            <img src="img/facebook.svg" alt="facebook-image">
                        </a>
                    </div>
                </div>

            </div>
        </div>
        </main>
        <%- include ( '../partials/footer' ) -%>
</body>

</html>