<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') -%>
        <link rel="stylesheet" href="/css/register.css">
        <title>Creá tu cuenta</title>
</head>

<body>
    <div>
        <%- include('../partials/header') -%>
    </div>
    <main>
        <div class="div-main">
           
            <form method="POST" action="/users/register" class="main-form">
                <section class="section-logo">
                    <div>
                        <img src="/img/logo-shark.png" alt="logo" class="shark-logo">
                    </div>
                </section>
                <section class="section-form">
                    <div class="title-form">
                        <h2>¡Crea tu cuenta!</h2>
                        <p class="text-p">¡Goza del estilo Shark Style y nuestros descuentos!</p>
                    </div>
                    <div class="data-field">
                        <label class="nombre">Usuario:</label>
                        <input type="text" name="name" class="cam" placeholder=" Juan Simón">
                    </div>
                    <div class="data-field">
                        <label class="nombre">Apellido:</label>
                        <input type="text" name="lastName" id="lastName" class="cam" placeholder=" avellaneda">
                    </div>
                    <div class="data-field">
                        <label class="nombre">Email:</label>
                        <input type="email" name="email" id="email" class="cam" placeholder=" juanSimon@gmail.com.ar">
                    </div>
                    <div class="data-field">
                        <label class="nombre">Contraseña:</label>
                        <input type="password" name="password" id="password" class="cam" placeholder=" simon546789">
                    </div>
                    <div class="terminos">
                        <input type="radio">
                        <label>Acepta nuestras condiciones de servicio y política de privacidad</label>
                    </div>
                    <div>
                        <button type="submit" class="button">Crear cuenta</button>
                    </div>
                </section>
            </form>
        </div>
    </main>
    <%- include ( '../partials/footer' ) -%>
</body>

</html>