<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') -%> 
    <link rel="stylesheet" href="/css/register.css">
    <title>Creá tu cuenta</title>
</head>

<body>
    <div>
        <%- include('../partials/header') -%> 
    </div>
    <main>
        <div class="div-main">
            <form action="/process-data" method="POST" class="main-form">
                <section class="section-logo">
                    <div>
                        <img src="/img/logo-shark.png" alt="logo" class="shark-logo">
                    </div>
                </section>
                <section class="section-form">
                    <div class="title-form">
                        <h2>¡Crea tu cuenta!</h2>
                        <label class="text-p">¡Goza del estilo Shark Style y nuestros descuentos!</label>
                    </div>
                    <div class="data-field">
                        <label class="nombre">Email:</label>
                        <input type="email" name="email" id="correo-electronico" class="cam" placeholder="ej: juanSimon@gmail.com.ar">
                    </div>
                    <div class="data-field">
                        <label class="nombre">Usuario:</label>
                        <input type="text" name="usuario" id="name" class="cam" placeholder="ej: Juan Simón">
                    </div>
                    <div class="data-field">
                        <label class="nombre">Contraseña:</label>
                        <input type="password" name="password1" id="password" class="cam" placeholder="ej: simon546789">
                    </div>
                    <div class="data-field">
                        <label class="nombre">Confirmar contraseña:</label>
                        <input type="password" name="password2" id="confirm-password" class="cam" placeholder="ej: simon546789">
                    </div>
                    <div class="terminos">
                        <input type="radio">
                        <label>Acepta nuestras condiciones de servicio y política de privacidad</label>
                    </div>
                    <div>
                        <a href="/">
                            <input type="button" value="Crear cuenta" class="button">
                        </a>
                    </div>
                </section>
            </form>
        </div>
    </main>
    <%- include ( '../partials/footer' ) -%>
</body>

</html>